select::-ms-expand {
    display: none!important;
}

@-ms-viewport {
    width: auto!important;
}

.form-field select {
    -moz-appearance: none;
}

ul.header-social {
    display: block;
}

.item_text p {
    text-align: justify;
}

.container-fluid {
    padding: 0px!important;
    margin-right: auto;
    margin-left: auto;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #01579b;
    bottom: auto;
}

.owl-theme .owl-dots .owl-dot span {
    background: #b3e5fc;
    bottom: auto;
}

.content-ads .content-ads-inner .ads .ads-container {
    height: auto;
}

#ads_slider button.owl-prev {
    float: left;
    left: 0;
    top: -170px;
    display: block;
}

#ads_slider button.owl-next {
    float: right;
    left: 0;
    top: -170px;
    display: block;
}

#stream_slider button.owl-prev {
    float: left;
    left: 0;
    top: -175px;
    display: block;
}

#stream_slider button.owl-next {
    float: right;
    left: 0;
    top: -175px;
    display: block;
}

#stream_slider .inner-text .heading-2 {
    margin: 0px auto;
    text-align: center!important;
}

#logo_slider button.owl-next {
    float: right;
    right: 0;
    top: -55px;
    display: block;
    font-size: 30px!important;
}

#logo_slider button.owl-prev {
    float: left;
    left: 0;
    top: -55px;
    display: block;
    font-size: 30px!important;
}

.testimonial>li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.testimonial {
    text-align: center;
}

.bg-review {
    background: white;
    margin-bottom: 0px;
}

.test-height {
    height: 110px;
}

.panel-info>.test-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

h5.small-text {
    font-size: 14px;
}

#reviews button.owl-next, #reviews2 button.owl-next {
    float: right;
    right: -55px;
    top: -135px;
    display: block;
    font-size: 30px!important;
}

#reviews button.owl-prev, #reviews2 button.owl-prev {
    float: left;
    left: -55px;
    top: -135px;
    display: block;
    font-size: 30px!important;
}

#reviews3 button.owl-next {
    float: right;
    right: -55px;
    top: -115px;
    display: block;
    font-size: 30px!important;
}

#reviews3 button.owl-prev {
    float: left;
    left: -55px;
    top: -115px;
    display: block;
    font-size: 30px!important;
}

.primary-color {
    color: #03A9F4;
}

.threebox .threebox-inner {
    padding-bottom: 19px;
}

.inline {
    display: inline;
}

.carousel-right {
    /*margin-right: 20px;*/
}

.owl-carousel .owl-item img.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

div#stream_slider.owl-carousel .owl-item img {
    width: 200px;
    height: 200px;
    margin: 0px auto;
    text-align: center;
}

.banner .laptop a {
    display: block!important;
}

.banner .laptop {
    position: absolute;
    right: 20px;
    z-index: 1;
    width: 350px;
    height: 262px;
    overflow: hidden;
    bottom: 50px;
    top: unset;
    display: block;
}

.banner .laptop i {
    content: "\f144";
    top: 40%;
    position: absolute;
    z-index: 999999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.banner .laptop img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: block;
}

.modal-title {
    display: inline;
}

.cont {
    padding-left: 30px;
}

.row.row-no-gutter .owl-stage-outer {
    height: 165px!important;
}

.content-category>[class*="col"] {
    padding: 0px 0px;
}

.content-category {
    padding-bottom: 0px;
}

.content-category>[class*="col"] .inner .inner-text {
    padding: 15px 10px 0px 10px;
    height: 150px;
    max-height: 150px;
}

.stream-inner-img {
    width: 100%;
    height: 230px;
    background-color: #eee;
}

.stream-inner-img img {
    width: 100%!important;
    max-width: 100%!important;
    max-height: 230px!important;
}

.dataSecurityaccordion .panel-default>.panel-heading a i {
    color: #00aeef;
}

.panel-title small {
    color: #fb9e38;
    padding: 0px 55px;
    font-size: 14px;
}

/*.modal-content.filter_body .close {position: absolute;right: 7px;top:3px;z-index: 999;font-size: 2rem;font-weight: normal;color: #fd9733;opacity: 1;}
.modal-content.filter_body .close:focus, .close:hover {text-decoration: none;cursor: pointer;filter: alpha(opacity=50);opacity: .5;color:#00aeef;}
*/

.basicModalMD .Filter_close_buttons {
    border-top: none!important;
}

div#ads_slider {
    width: 236px;
}

#all-company-list .panel-heading {
    background: #fff!important;
    color: #000!important;
}

.dataSecurityaccordion .panel-default.panel {
    border: 1px solid #00aeef;
}

.row.logoSlider-inner {
    padding-top: 8px;
    line-height: 0;
    margin-right: 0px;
    margin-left: 0px;
}

.row.content-ads-inner {
    padding-top: 8px;
    margin: 0px 10px;
}

.company-tranie .ds-types .ds-types-inner ul li:nth-child(9) .ds-content:before {
    background-image: url("/mychhatriweb/frontUI/images/ds-icon8.png");
}

.company-tranie .ds-types .ds-types-inner ul li:nth-child(9).active .ds-content:before {
    background-image: url("/mychhatriweb/frontUI/images/ds-icon8-wh.png");
}

li.reset-btn {
    margin-top: 18px!important;
}

.comp-list-detail tbody tr td button.enrolled {
    padding: 6px 12px!important;
}

.table-in .table-in-div .table-in-close {
    z-index: 8!important;
}

.input-select, .myrh .formFltr .formFltr-ul li>div input, .myrh .formFltr .formFltr-ul li>div select, .company-tranie .filter-sec-inner form>li div select, .company-tranie .filter-sec-inner form>li div input[type='text'], .company-tranie .filter-sec-inner>ul>li div select, .company-tranie .filter-sec-inner>ul>li div input[type='text'] {
    font-size: 14px;
    padding: 0px 7px;
}

a.btn.btn-info.reset_btn {
    line-height: 26px;
}

button.bootbox-close-button.close {
    display: none;
}

.threebox {
    padding-top: 15px;
}

.threebox .threebox-inner .inner-line {
    width: 80px!important;
    min-height: 80px!important;
    margin: 0px auto;
}

.row .logoSlider-inner .item {
    border-right: 1px solid #00aeef;
}

.threebox .threebox-inner .inner {
    box-shadow: 0px 0px 1px #00aeef !important;
}

.enrolled {
    color: green !important;
    font-weight: bold !important;
}

.company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>form.filter-sec-adv li {
    width: 19.45% !important;
    padding-bottom: 10px !important;
}

.content-category>[class*="col"] .inner a:hover {
    -webkit-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -o-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    overflow: hidden;
}

.logoSlider .logoSlider-inner .logoSlide .item img {
    width: 80px;
    height: 80px;
    display: block;
}

/*.content-category {
    margin-left: 0px;
    margin-right: 0px;
}*/

.content-ads .content-ads-inner .ads .ads-container {
    text-align: center;
    margin: 0px auto;
}

.content-ads .content-ads-inner .ads .ads-container .aboutus_right_banner {
    text-align: center;
    margin: 0px auto;
    padding-top: 95px;
}

div#basicModal2 {
    top: 0px!important;
}

/* login-form */

.panel.panel-default.login-form {
    width: 480px;
    margin: 0px auto 15px auto;
}

.panel.panel-default.login-form .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
    padding: 0px 25px;
}

li.mob-dd a:before {
    display: none!important;
}

/* media queries */

@media screen and (max-width: 1199px) {
    .header2 .header2-inner .menu>ul>li {
        margin-left: 15px!important;
    }
    .banner .laptop {
        bottom: 50px;
        height: auto;
        margin: 0px auto;
    }
    .banner button.owl-next {
        top: -230px;
    }
    .banner button.owl-prev {
        top: -230px;
    }
    .stream-inner-img {
        width: 100%;
        height: 230px;
        background-color: #eee;
    }
    .stream-inner-img img {
        width: 100%!important;
        max-width: 100%!important;
        max-height: 230px!important;
    }
    .company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>form.filter-sec-adv li, .company-tranie .filter-sec-inner>ul.filter-sec-adv li {
        width: 25%;
        margin-bottom: 15px;
    }
    li.search_btn {
        clear: both!important;
    }
    a.btn.btn-info.reset_btn {
        width: 98%;
        line-height: 27px;
    }
    div#courselist {
        display: none;
    }
    .container.content-ads-top.company-tranie .filter-sec-inner form>li, .company-tranie .filter-sec-inner>form>li, .company-tranie .filter-sec-inner>ul>li {
        margin: 25px 0px 6px 0px;
        width: 24%;
    }
    div#citylist {
        display: none!important;
    }
    div#companyList {
        display: none!important;
    }
    .item_text h2 {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 15%;
    }
    .item_text p {
        color: white;
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .row.content-ads-inner .chatri_description.col-lg-7 {
        max-width: 100%!important;
    }
    .item_text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .row.header2-inner ul {
        display: none;
    }
    .menu-bars {
        display: block;
    }
    form#logout-form {
        display: block!important;
    }
}

@media screen and (max-width: 991px) {
    .owl-dots {
        height: auto!important;
        bottom: auto;
    }
    div#ads_slider {
        width: 100%
    }
    .row.row-no-gutter .right-side-slider {
        width: 50%!important;
        float: left!important;
        padding: 0px 5px!important;
    }
    .banner button.owl-next {
        top: -40px;
    }
    .banner button.owl-prev {
        top: -40px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        width: 15px;
        bottom: auto;
    }
    .content-ads .content-ads-inner .ads .ads-container .aboutus_right_banner {
        padding-top: 0px;
    }
    .aboutus-content .content>div p {
        padding: 0 !important;
        font-size: 14px;
        text-align: justify;
    }
    .aboutus-content .content>div strong {
        font-size: 16px;
    }
    .content-ads .content-ads-inner .content, .content-ads .ads {
        padding: 0px 10px!important;
    }
}

@media screen and (max-width:900px) {
    .banner button.owl-prev {
        top: -185px;
    }
    .banner button.owl-next {
        top: -185px;
    }
    #basicModal2.modal-800 {
        width: 500px!important;
    }
    .basicModalM2 .filter_body {
        width: 500px!important;
        margin: 30px auto!important;
    }
    .basicModalMD .company-description span, .how-it-works span {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width:823px) {
    .banner button.owl-next {
        top: -170px;
    }
    .banner button.owl-prev {
        top: -170px;
    }
    .row.row-no-gutter {
        padding-top: 20px!important;
    }
}

@media (max-width: 768px) {
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        height: 30px;
        top: -40px;
    }
    #logo_slider button.owl-prev, .owl-next {
        top: -75px;
        top: -20px;
    }
    #logo_slider button.owl-next {
        top: -75px;
        top: -20px;
    }
    .banner .laptop {
        bottom: 80px;
    }
    .banner .laptop i {
        top: 40%;
        font-size: 24px!important;
    }
    .banner .laptop iframe {
        width: 305px;
        height: 185px;
        right: 0px;
    }
    .content-ads {
        margin-top: 5rem !important;
    }
    .item_text p {
        font-size: 10px;
        line-height: 15px;
        margin-top: 15px!important;
    }
}

@media (max-width: 767px) {
    .big-heading {
        padding: 0px 15px 5px 15px;
    }
    .row.footer-inner {
        padding: 0px 15px;
    }
    .logoSlider {
        padding: 15px 0;
    }
    .heading-2 {
        padding: 0px 0px 15px;
        font-size: 14px;
    }
    .big-heading {
        font-size: 25px;
    }
    .content-ads {
        margin-top: 15rem !important;
    }
    .banner .laptop {
        bottom: 0px;
    }
    div#stream_slider.owl-carousel .owl-item img {
        width: 100%;
        height: auto;
        padding: 0px 15px;
    }
    .company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>form.filter-sec-adv li, .company-tranie .filter-sec-inner>ul.filter-sec-adv li {
        width: 50%;
    }
    .container.content-ads-top.company-tranie .filter-sec-inner form>li, .company-tranie .filter-sec-inner>form>li, .company-tranie .filter-sec-inner>ul>li {
        margin: 25px 0px 6px 0px;
        width: 70%;
    }
    .container.content-ads-top .input-select:not(input), .myrh .formFltr .formFltr-ul li>div input:not(input), .myrh .formFltr .formFltr-ul li>div select:not(input), .company-tranie .filter-sec-inner form>li div select:not(input), .company-tranie .filter-sec-inner form>li div input[type='text']:not(input), .company-tranie .filter-sec-inner>ul>li div select:not(input), .company-tranie .filter-sec-inner>ul>li div input[type='text']:not(input) {
        width: 100%;
    }
    .container.content-ads-top button#search-btn {
        width: 70%;
    }
    .container.content-ads-top a.btn.btn-info {
        width: 70%;
    }
    .company-tranie .filter-sec .filter-sec-inner ul li div select {
        max-width: 100%;
    }
    .content-category .col-lg-4.col-md-4.col-sm-6.col-12 {
        width: 50%;
        float: left;
        padding: 0px 5px;
    }
    .content-category.my-page>[class*="col"] {
        margin: 50px 30px 10px 30px;
        width: 50%!important;
        float: left!important;
        padding: 0px 5px!important;
    }
    .owl-nav.disabled {
        display: none!important;
    }
    .content-ads .content-ads-inner .ads .ads-container .aboutus_right_banner a {
        width: 33.3%;
    }
    .basicModalM2 .filter_body {
        width: 375px!important;
        margin: 30px auto!important;
    }
    #basicModal2 .modal-800 {
        width: auto!important;
        margin: 10px auto;
    }
    .basicModalMD .company-description, .how-it-works {
        padding: 30px 15px 0px 15px;
    }
    .content-ads .content-ads-inner .ads .ads-container a {
        width: 50%;
        float: left;
    }
    .stream {
        padding: 0px;
    }
}

@media screen and (max-width:642px) {
    i.fa.fa-play-circle {
        font-size: 25px!important;
    }
    div#stream_slider .inner {
        padding: 0px 15px!important;
    }
    .banner button.owl-prev {
        top: -180px;
    }
    .banner button.owl-next {
        top: -180px;
    }
    .company-tranie {
        padding-top: 0px;
    }
    .item_text h2 {
        font-size: 18px;
    }
    .content-ads .content-ads-inner .ads .ads-container .aboutus_right_banner a {
        width: 50%;
    }
    .banner .laptop iframe {
        width: 230px;
        height: 145px;
        right: 0px;
    }
}

@media (max-width:615px) {
    .logoSlider {
        padding: 0px 0;
    }
    table.myTable th {
        width: 50%!important;
        display: inline-block!important;
        margin: 0px 0px 5px 0px!important;
        float: left;
    }
    .item_text p {
        font-size: 10px;
        line-height: 8px;
        margin-top: 10px!important;
    }
}

@media (max-width:599px) {
    .header2 {
        margin-top: 28px!important;
    }
    section.ds-banner-sec, section.banner, section.banner-2 {
        position: relative;
        top: 40px;
    }
    .content-ads {
        margin-top: 9rem !important;
    }
    .aboutus-content .content>div {
        margin-top: 30px!important;
    }
    .header1 .header-social li.header-text {
        margin-right: 15px;
    }
    .header1 .header-social li {
        margin-left: 10px;
    }
    .row.content-ads-inner {
        padding-top: 30px;
    }
    .header1 .header-social li.header-text a {
        font-size: 13px;
    }
    .header1 .header-social li a {
        font-size: 13px;
    }
}

@media (max-width:545px) {
    .threebox .threebox-inner .inner {
        min-height: 90px;
    }
    .owl-nav.disabled {
        display: none!important;
    }
    .item_text h2 {
        margin-bottom: 5px;
        margin-top: 5%;
    }
    .logoSlider .adv {
        height: 225px;
    }
    .log_form {
        margin-bottom: 114px;
        position: relative;
        top: 110px;
    }
    .panel.panel-default.login-form {
        width: 350px;
    }
}

@media (max-width:499px) {
    .aboutus-content .content>div strong {
        font-size: 14px;
        text-align: justify;
    }
    .item_text p {
        font-size: 9px;
        line-height: 8px;
        margin-top: 8px!important;
    }
}

@media (max-width:480px) {
    .content-category .col-lg-4.col-md-4.col-sm-6.col-xs-12 {
        width: 100%;
        float: left;
        padding: 0px 5px;
    }
    .content-category.my-page>[class*="col"] {
        margin: 50px 30px 10px 30px;
        width: 100%!important;
    }
    .row.row-no-gutter .right-side-slider {
        width: 100%!important;
        float: left!important;
        padding: 0px 5px!important;
        display: none;
    }
    .item_text h2 {
        margin: 15px 0px 5px 0px;
    }
    .banner #owl-demo .item img {
        display: block;
        width: 100%;
        height: 200px;
        max-width: 100%;
    }
    .logoSlider .adv {
        height: 190px;
    }
}

@media (max-width:470px) {
    .header1 .header-social, .header2 .header2-inner .menu>ul, .header2 .header2-inner .menu>ul>li ul, .dataSecurityaccordion .panel-default>.panel-heading a i {
        margin-top: 5px!important;
    }
    .banner .laptop iframe {
        width: 200px;
        height: 123px;
        right: 0px;
    }
}

@media (max-width:415px) {
    .big-heading {
        font-size: 20px;
    }
    .big-heading1 {
        border-bottom: none;
    }
    .container.content-ads-top.company-tranie .filter-sec-inner form>li, .company-tranie .filter-sec-inner>form>li, .company-tranie .filter-sec-inner>ul>li {
        width: 100%;
    }
    .aboutus_right_banner a {
        width: 100%!important;
    }
    .basicModalM2 .filter_body {
        width: 300px!important;
    }
    .basicModalMD .company-description iframe, .how-it-works iframe {
        width: 250px!important;
        display: block;
    }
}

@media (max-width:389px) {
    .header1 .header-social li.header-text {
        margin-right: 0px!important;
    }
    .header1 .header-social li {
        margin-left: 8px!important;
    }
    .panel.panel-default.login-form {
        width: 280px;
    }
    .banner .laptop iframe {
        width: 150px;
        height: 115px;
        right: 0px;
    }
    .item_text p {
        font-size: 9px;
        line-height: 8px;
        margin-top: 8px!important;
    }
}

@media (max-width:375px) {
    .threebox .threebox-inner {
        padding-bottom: 15px;
    }
    .logoSlider .logoSlider-inner .logoSlide .item img {
        padding: 5px;
    }
    .contactus ul li {
        width: 100%!important;
    }
    table.myTable th {
        width: 100%!important;
        text-align: left !important;
    }
    .bb-left.col-lg-5 img {
        width: 100%!important;
    }
    .logoSlider .adv {
        height: 140px;
    }
    .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul li {
        margin: 10px!important;
        width: 50px!important;
        height: 35px;
        display: block!important;
        float: left!important;
    }
    .content-ads .content-ads-inner .ads .ads-container .aboutus_right_banner a {
        width: 100%;
    }
    .header1 .header-social {
        display: block;
    }
    .lcpl_img img {
        width: 100%!important;
    }
    .content-ads.aboutus-content table {
        width: 280px!important;
        float: left;
    }
    .header1 .header-social, .header2 .header2-inner .menu>ul, .header2 .header2-inner .menu>ul>li ul, .dataSecurityaccordion .panel-default>.panel-heading a i {
        margin-top: 0px!important;
    }
}

/* Abhishek Css*/

.content-category>[class*="col"] {
    margin: 8px 0px !important;
    padding: 0;
}

.logoSlider {
    padding: 8px 0px 14px 0px !important;
}

.homelink {
    background: #FFFFFF !important;
    box-shadow: 0px 0px 15px #00000040;
    overflow: hidden;
    border-radius: 4px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.homestreamlink {
    display: block;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 15px 0;
    text-decoration: none;
    background: #0079c2;
    background: -moz-linear-gradient(top, #0079c2 1%, #0079c2 100%);
    background: -webkit-linear-gradient(top, #0079c2 1%, #0079c2 100%);
    background: linear-gradient(to bottom, #0079c2 1%, #0079c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0079c2', endColorstr='#0079c2', GradientType=0);
}

#loadingmsg {
    color: black;
    background: #fff;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    margin-right: -25%;
    margin-bottom: -25%;
}

#loadingover {
    background: black;
    z-index: 1052;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.bannner_caption_text {
    color: #ffac55;
    margin-top: 200%;
}

.file-drop-zone {
    border: none !important;
}

.file-default-preview .image_view {
    max-width: 150px !important;
}

.file-default-preview .image_view1 {
    max-width: 150px !important;
    margin-left: 60px !important;
}
.krajee-default.file-preview-frame {
    margin: 0px !important;
    padding: 0px !important;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: 100%;
}

.krajee-default.file-preview-frame {
    float: none !important;
}

.ui-autocomplete {
    z-index: 999999 !important;
}

.hero-image-container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.hero-image {
    position: relative;
    z-index: -1;
}

.hero-image-partner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('../images/partners.jpg')!important;
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.hero-title {
    font-size: 60px;
}

.hero-sub-title {
    font-size: 25px;
}

.space {
    margin-bottom: 20px;
}

.hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #00aeef;
    width: 300px;
    height: 235px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 10px;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:after {
    content: '';
    clear: both;
    display: block;
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    overflow-y: scroll;
    height: 100%;
    font-size: 15px;
}

.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pb-30 {
    padding-bottom: 30px;
}

.teambox h3 {
    color: #00aeef;
}

.team-title {
    color: #00aeef;
}

.team-title {
    clear: left;
}

.team-sub-title {
    font-size: 16px;
}

.hr {
    border: 0 none;
    height: 3px;
    margin: 10px auto;
    width: 80px;
    background-color: #03A9F4;
}

.text-overlay {
    position: absolute;
    color: #FFF;
    display: block;
    z-index: 99;
    text-align: center;
    width: 100%;
    top: 30%;
}

.col_fifth {
    width: 100%;
    position: relative;
    height: 12em;
}

/* Column Grids End */

.counter {
    background-color: #ffffff;
    border-radius: 7px;
    position: relative;
}

.count-title {
    font-size: 40px;
    text-align: center;
}

.count-text {
    font-size: 15px;
    text-align: center;
}

.fa-xx {
    margin: 0 auto;
    display: table;
    color: #00aeef;
    font-size: 40px;
    padding-top: 10px;
}

#partners {
    cursor: pointer;
}

.partners {
    filter: grayscale(100%);
}

.partners:hover {
    filter: none;
}

.row1 {
    color: black;
}

.pimag {
    height: 100px;
    width: 100px;
}

.partners-inner {
    padding-top: 8px;
    margin: 10px;
}

.p-25 {
    padding: 25px;
}

/* Footer*/

.footer-heading1 {
    color: white;
}

.footer {
    background-color: #00aeef;
    color: white!important;
    font-size: 18px;
}

.footer a {
    color: white;
}

footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

footer span {
    font-size: 16px;
}

.num {
    color: white;
}

.medium-space {
    margin-bottom: 10px;
}

.como {
    margin-left: 10px;
    font-family: arial;
    font-size: 10px;
    color: #212121;
    text-decoration: none;
}

.ssl {
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    color: #86bee0;
    text-decoration: none;
}

.pb-5 {
    padding-bottom: 5px;
}

  
  /*//////////////////////////////////////////////////////////////////
  [ Contact 1 ]*/

  .small{
    color:red; 
    font-style: italic;
  }
  
  .contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;
  
    background: lightgray;

  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    padding: 90px 130px 88px 148px;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact1-pic {
    width: 296px;
  }
  
  .contact1-pic img {
    max-width: 100%;
    vertical-align: 400px;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact1-form {
    width: 390px;
  }
 
  
  input.input1 {
    height: 50px;
    
    padding: 0 30px;
  }
 
  
  textarea.input1 {
    min-height: 150px;
    
    padding: 12px 30px;
  }
 
  
  /*---------------------------------------------*/
  .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .input1 {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    
  }
 
  
  
  /*---------------------------------------------*/
  .heading-1{
text-align: center;
  }
  .container-contact1-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact1-form-btn {
    min-width: 193px;
    height: 50px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    color: #fff;
    background-color: #00aeef;
    border: 1px solid #00aeef;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    
  }
 
  
  .contact1-form-btn i {
    margin-left: 7px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact1-form-btn:hover {
    color: #00aeef;
    background-color: #fff;
    border: 1px solid #00aeef;
  }
  
  .contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
.item_text .contact-us {
    margin-top: 4% !important;
    color: black;
    font-size: 24px;
}

.d-flex {
    display: flex!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

#courses button.owl-next {
    float: right;
    right: -37px;
    display: block;
    font-size: 30px!important;
}

#courses button.owl-prev {
    float: left;
    left: -37px;
    display: block;
    font-size: 30px!important;
}

.branches {
    padding: 10px !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #ffffff;
}

@media (min-width: 0) and (max-width: 991px) {
    body {
        padding-top: 155px;
    }
    .header2 {
        top: 55px;
    }
    .item_text .contact-us {
        font-size: 14px;
    }
    .header1 .header-social li {
        margin-bottom: 3px;
    }
}
@media (max-width: 1200px) {
    .contact1-pic {
      width: 33.5%;
    }
  
    .contact1-form {
      width: 44%;
    }
  }
  
  @media (max-width: 992px) {
    .container-contact1 {
      padding: 90px 80px 88px 90px;
    }
  
    .contact1-pic {
      width: 35%;
    }
  
    .contact1-form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {
    .container-contact1 {
      padding: 90px 80px 88px 80px;
    }
  
    .contact1-pic {
      display: none;
    }
    
  
    .contact1-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .container-contact1 {
      padding: 90px 15px 88px 15px;
    }
    .heading-1{
        text-align: center;
        font-size: 20px;
          }
    .input1 {
           display: block;
            width: 100%;
            font-size: 10px;
            line-height: 1;
            
          }
    .wrap-input1 {
            position: relative;
            width: 100%;
            z-index: 1;
            margin-bottom: 15px;
          }     
  }


.container-fluid a{

color: #333 !important;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{

    background-color: #00aeef !important;
color: #fff !important;
}

.nav-pills>li>a{

    border-radius: 4px 4px 0px 0px;
}

.nav>li>a{
    padding: 5px 40px;

}
