a {
    color: inherit;
}

.root-child-btn {
    padding: 0 5px;
    font-weight: 800;
}

.categorytree {
    list-style-type: none;
}

body {
    background-color: #fff !important;
    height: 100%;
    padding-top: 120px;
}

html {
    height: 100%;
}

.header1 {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    height: 40px;
}

.header2 {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 40px
}

.center {
    text-align: center;
    width: 100%;
}

.center:first-child {
    margin: auto;
}

.wd-100 {
    width: 100%;
}

.banner .laptop {
    display: none;
}

.content-ads {
    display: block;
    /*margin-top: 13rem !important;*/
}

body, ul, h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

.threebox .threebox-inner .inner {
    min-height: 165px;
}

.threebox .threebox-inner .threebox-heading a {
    color: #ffffff !important;
}

.threebox .threebox-inner .inner {
    box-shadow: 0px 0px 1px #00aeef !important;
}

.threebox .threebox-inner .threebox-heading {
    background: #00aeef !important;
}

.panel-heading {
    background: #00aeef !important;
    color: #fff !important;
    font-weight: bold
}

.threebox .threebox-inner .threebox-heading a {
    color: #ffffff !important;
}

.threebox .threebox-inner .threebox-heading label {
    color: #fff !important;
}

.panel-body {
    box-shadow: 0px 0px 10px #03A9F4 !important;
}

.heading-1, strong {
    font-family: inherit !important;
}

.ds-banner-sec.aboutbanner section>div .row h1 {
    font-family: inherit !important;
}

.aboutus-content .content>div {
    border: none !important;
}

.aboutus-content .content>div p {
    padding: 0 !important;
}

.aboutus-content .big-heading {
    padding: 10px 20px 10px 0px !important;
}

a.login-link {
    font-weight: bold;
    color: #00aeef;
    text-decoration: underline;
}

a.login-link:hover {
    text-decoration: none !important;
}

.header2 .header2-inner .menu>ul>li {
    margin-left: 30px;
}

a.moreless {
    color: blue;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    section.ds-banner-sec, section.banner, section.banner-2 {
        position: relative;
    }
    .log_form {
        /*margin-bottom: 114px;*/
        position: relative;
        /*top: 110px;*/
    }
    .inst_search_form {
        position: relative;
        top: 40px;
    }
    .content-ads-top {
        display: block;
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
}

ul.weekdays {
    list-style: none;
}

ul.weekdays li {
    float: left;
    width: 48%;
    margin-left: -35px;
}

.item_text {
    position: absolute;
    top: 50%;
    z-index: 100;
}

.item_text h2 {
    font-size: 44px;
    color: white;
    font-family: 'futura_medium';
    margin-bottom: 25px;
    margin-top: 16%;
}

.item_text p {
    color: white;
    font-size: 16px;
}

.item_text .btn-secondary {
    padding: 10px 25px;
    margin-top: 25px;
}

.adv {
    margin-top: 8px;
}

.modal {
    position: fixed;
    top: 20%;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.jtable-page-size-change select {
    color: black;
}

.jtable-goto-page select {
    color: black;
}

.blackshead {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100000000;
}

.content-category>[class*="col"] .inner>a {
    padding: 0px 0px;
}

.content-category>[class*="col"] .inner>a.homelink, .content-category>[class*="col"] .inner>div.homelink {
    margin: 15px 0;
}

.content-category>[class*="col"] .inner>div.homelink {}

.content-category>[class*="col"] .inner>div.homelink:before {
    content: '';
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
    background: rgba(0, 0, 0, .9);
    z-index: 99;
}

.content-category>[class*="col"] .inner>div.homelink .homelink_1 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 991;
    width: 90px;
    height: 30px;
    margin: auto;
}

.content-category>[class*="col"] .inner>div.homelink .homelink_1 button {
    border: 0px;
    background: #02aeef;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.skin-blue .main-header .logo {
    background-color: #ffffff !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}
