@import url("futura-fonts/font.css");
@import url("Arial/font.css");
.gradiant1, .content-category>[class*="col"] .inner a {
  background: #0079c2;
}

/*$font0:'futura_light_bt';
$font1:'futura_book';
$font2:'futura_medium';
$font3:'futura_bold';
$font4:'futura_heavy';
$font5:'futura_extrablack';*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.underline {
  text-decoration: none;
}

body {
  background-color: #f3f8fa;
  font-family: Arial;
}

body, ul, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}

h1 {
  font-size: 44px;
}

strong {
  font-family: Arial;
  font-weight: normal;
}

.readable {
  font-size: 16px;
  font-family: Arial;
  color: gray;
}

.heading-1 {
  color: black;
  font-size: 35px;
  font-family: Arial;
}

.heading-2 {
  color: black;
  font-size: 23px;
  font-family: Arial;
}

.heading-3 {
  color: white;
  font-size: 19px;
  font-family: Arial;
  padding-bottom: 3px;
}

.heading-4 {
  color: black;
  font-size: 20px;
  font-family: Arial;
}

.big-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.big-heading-2 {
  text-align: center;
  color: #fb9e38;
  font-size: 35px;
  font-family: Arial;
  margin-bottom: 35px;
}

.big-heading-2 div {
  color: black;
  font-size: 20px;
  font-family: Arial;
}

.big-heading-2 hr {
  width: 180px;
  border: 0;
  border-bottom: 4px solid #fb9e38;
}

.btn-primary, .header2 .header2-inner .menu>ul>li.contact-btn a {
  color: #fff;
  background-color: #00a54f;
  border: 1px solid #00a54f;
  border-radius: 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn-primary.blue-shade, .header2 .header2-inner .menu>ul>li.contact-btn a.blue-shade {
  background: #00aeef;
  border: 1px solid #00aeef;
  padding: 8px 30px;
  font-size: 16px;
  margin-top: 50px;
}

.btn-primary.blue-shade:hover, .header2 .header2-inner .menu>ul>li.contact-btn a.blue-shade:hover {
  background: white;
  color: #00aeef;
  border: 1px solid #00aeef;
}

.btn-primary:hover, .header2 .header2-inner .menu>ul>li.contact-btn a:hover {
  color: #00a54f;
  background-color: #fff;
  border: 1px solid #00a54f;
}

.btn-secondary {
  color: #00a54f;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #00a54f;
}

.zero, .bredcrumb ul, .header1 .header-social, .header2 .header2-inner .menu>ul, .header2 .header2-inner .menu .level-2>ul, .header2 .header2-inner .menu .level>ul, .header2 .header2-inner .menu .level-3>ul, .afterloginPopup .morelink-dropdwn ul, .my-page-process .my-page-process-inner .processnav ul, .my-page-process .my-page-process-inner .selectStream ul, .hcd .formFltr .formFltr-ul, .myrh .formFltr .formFltr-ul, .company-tranie .ds-types .ds-types-inner ul, .company-tranie .filter-sec-inner form, .company-tranie .filter-sec-inner>ul, .cont-frm .cont-frm-ul, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul, .footer .footer-inner .quicklinks, .footer .footer-inner .numbers, .contactus ul {
  padding: 0px;
  margin: 0;
  list-style: none;
}

.clearfix:after, .content-category:after, .my-page-process .my-page-process-inner .selectStream .selectStream-inner:after, .my-page-process .my-page-process-inner .selectTopic .selectTopic-inner:after, .bredcrumb ul:after, .bredcrumb ul li:after, .header1 .header-social:after, .header2 .header2-inner .menu:after, .header2 .header2-inner .menu>ul:after, .header2 .header2-inner .menu .level-2>ul:after, .header2 .header2-inner .menu .level>ul:after, .header2 .header2-inner .menu .level-3>ul:after, .mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone li:after, .banner-cont .bannerSlider .item:after, .my-page-process .my-page-process-inner .selectStream:after, .my-page-process .my-page-process-inner .selectTopic ul:after, .news-content .news_thumb_block .news_thumb_block_inner:after, .news-content .news_listing_block .news_listing_block_inner:after, .hcd .formFltr .formFltr-ul:after, .myrh .formFltr .formFltr-ul:after, .company-tranie .ds-types:after, .company-tranie .ds-types .ds-types-inner ul:after, .company-tranie .filter-sec-inner form:after, .company-tranie .filter-sec-inner>ul:after, .company-tranie .company-details:after, .company-tranie .company-details .ds-company-content .half:after, .company-tranie .company-details .ds-company-content .full:after, .dataSecurityaccordion .panel-default .panel-body .video:after, .basicModalMD .filter_body:after, .bannr-form:after, .contactus-form:after, .cont-frm .cont-frm-ul:after, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus:after, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul:after, .threebox .threebox-inner .owl-1 .owl-1-ul:after, .threebox .threebox-inner .owl-2 .owl-1-ul:after, .footer .footer-inner .quicklinks:after, .footer .footer-inner .numbers:after, .clearfix:before, .content-category:before, .my-page-process .my-page-process-inner .selectStream .selectStream-inner:before, .my-page-process .my-page-process-inner .selectTopic .selectTopic-inner:before, .bredcrumb ul:before, .bredcrumb ul li:before, .header1 .header-social:before, .header2 .header2-inner .menu:before, .header2 .header2-inner .menu>ul:before, .header2 .header2-inner .menu .level-2>ul:before, .header2 .header2-inner .menu .level>ul:before, .header2 .header2-inner .menu .level-3>ul:before, .mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone li:before, .banner-cont .bannerSlider .item:before, .my-page-process .my-page-process-inner .selectStream:before, .my-page-process .my-page-process-inner .selectTopic ul:before, .news-content .news_thumb_block .news_thumb_block_inner:before, .news-content .news_listing_block .news_listing_block_inner:before, .hcd .formFltr .formFltr-ul:before, .myrh .formFltr .formFltr-ul:before, .company-tranie .ds-types:before, .company-tranie .ds-types .ds-types-inner ul:before, .company-tranie .filter-sec-inner form:before, .company-tranie .filter-sec-inner>ul:before, .company-tranie .company-details:before, .company-tranie .company-details .ds-company-content .half:before, .company-tranie .company-details .ds-company-content .full:before, .dataSecurityaccordion .panel-default .panel-body .video:before, .basicModalMD .filter_body:before, .bannr-form:before, .contactus-form:before, .cont-frm .cont-frm-ul:before, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus:before, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul:before, .threebox .threebox-inner .owl-1 .owl-1-ul:before, .threebox .threebox-inner .owl-2 .owl-1-ul:before, .footer .footer-inner .quicklinks:before, .footer .footer-inner .numbers:before {
  content: '';
  clear: both;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}

.postn-r {
  position: relative;
}

.postn-a {
  position: absolute;
}

.postn-f {
  position: fixed;
}

.float-l, .my-page-process .my-page-process-inner .selectStream ul li, .my-page-process .my-page-process-inner .selectTopic ul li, .my-page-process .my-page-process-inner .selectTopic ul li .radio-button span, .form-field .radio-button span, .my-page-process .my-page-process-inner .selectTopic ul li .radio-button div, .form-field .radio-button div, .bredcrumb ul li, .header1 .header-social li, .header2 .header2-inner .menu>ul>li, .afterloginPopup .profile-photo ul li, .my-page-process .my-page-process-inner .processnav ul li, .myrh .formFltr .formFltr-ul li, .company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>ul.filter-sec-adv li, .company-tranie .company-details .ds-company-content .half, .dataSecurityaccordion .panel-default .panel-body .video, .cont-frm .cont-frm-ul>li, .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul li, .threebox .threebox-inner .owl-1 .owl-1-ul li, .threebox .threebox-inner .owl-2 .owl-1-ul li, .footer .footer-inner .quicklinks li, .footer .footer-inner .numbers li, .contactus ul li {
  float: left;
}

.float-r, .header1 .header-social, .header2 .header2-inner .menu>ul, .header2 .header2-inner .menu .level-2>ul, .header2 .header2-inner .menu .level>ul, .header2 .header2-inner .menu .level-3>ul, .dataSecurityaccordion .panel-default>.panel-heading a i {
  float: right;
}

.float-n {
  float: none;
}

.block, .content-category>[class*="col"] .inner a, .logoSlider .logoSlider-inner .logoSlide .item img, .my-page-process .my-page-process-inner .selectTopic ul li .radio-button, .form-field .radio-button, .my-page-process .my-page-process-inner .selectTopic ul li .radio-button span, .form-field .radio-button span, .bredcrumb ul li a, .header1 .header-social li a, .header2 .header2-inner .logo a img, .header2 .header2-inner .menu .level-2>ul li a, .header2 .header2-inner .menu .level>ul li a, .header2 .header2-inner .menu .level-3>ul li a, .afterloginPopup .morelink-dropdwn ul li a, .my-page-process .my-page-process-inner .processnav ul li div span, .company-tranie .ds-types, .company-tranie .ds-types .ds-types-inner ul li .ds-content:before, .company-tranie .filter-sec-inner label, .company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>ul.filter-sec-adv li, .company-tranie .company-details, .company-tranie .company-details .ds-company-content .half, .company-tranie .company-details .ds-company-content .full, .dataSecurityaccordion .panel-default>.panel-heading a, .dataSecurityaccordion .panel-default .panel-body .video, .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=text], .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div label, .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=email], .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul li a, .threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(1) img, .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(1) img, .threebox .threebox-inner .vTicker ul li a, .footer .footer-inner .quicklinks, .footer .footer-inner .quicklinks li, .footer .footer-inner .numbers, .contactus ul {
  display: block;
}

.inlineblock, .big-heading-2 hr, .btn-primary.blue-shade, .header2 .header2-inner .menu>ul>li.contact-btn a.blue-shade, .content-ads .content-ads-inner .ads .ads-container a, .banner-cont .bannerSlider .item .btn-secondary, .content-category.my-page .blue-shade, .ds-banner-sec.aboutbanner section>div .row a, .ds-banner_news-sec.newsbanner section>div .row a, .cancel-button .cancel-btn, .form-row .btn-primary, .form-row .header2 .header2-inner .menu>ul>li.contact-btn a, .header2 .header2-inner .menu>ul>li.contact-btn .form-row a, .company-tranie .filter-sec-inner form>li, .company-tranie .filter-sec-inner>ul>li, .company-tranie .company-details .logo-sec img {
  display: inline-block;
}

.pointer, .afterloginPopup .profile-photo, .close-saved, .content-category.my-page>[class*="col"] .inner>div:not(.close-saved) {
  cursor: pointer;
}

.input-select, .myrh .formFltr .formFltr-ul li>div input, .myrh .formFltr .formFltr-ul li>div select, .company-tranie .filter-sec-inner form>li div select, .company-tranie .filter-sec-inner form>li div input[type='text'], .company-tranie .filter-sec-inner>ul>li div select, .company-tranie .filter-sec-inner>ul>li div input[type='text'] {
  border: 1px solid #d9d9d9;
  font-size: 16px;
  color: #666666;
  padding: 0px 15px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
}

.input-select:not(input), .myrh .formFltr .formFltr-ul li>div input:not(input), .myrh .formFltr .formFltr-ul li>div select:not(input), .company-tranie .filter-sec-inner form>li div select:not(input), .company-tranie .filter-sec-inner form>li div input[type='text']:not(input), .company-tranie .filter-sec-inner>ul>li div select:not(input), .company-tranie .filter-sec-inner>ul>li div input[type='text']:not(input) {
  background: white url("../images/comp-icon-down.png") no-repeat 96% center;
  padding: 0px 25px 0px 15px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  margin: 0 3px;
  color: black;
  float: left;
  padding: 5px 12px;
  text-decoration: none;
  background: #f0f0f0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a.active {
  margin-top: -2px;
  background-color: #f3f8fa;
  color: #4a4a4a;
  border-radius: 4px;
  border: 2px solid #4a4a4a;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.arrow {
  background: #f3f8fa;
  color: #c8c8c8;
  font-size: 19px;
  padding: 0px 11px;
}

.text-center {
  text-center: center;
}

.date_txt {
  font-size: 11px;
  color: #00aeef;
  font-family: Arial;
}

.profiledetail__items, .profiledetail__items .item.actions, .profiledetail__items.item--2, .profiledetail__items.item--2 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*---- Mozila Firefox --------*/

@-moz-document url-prefix() {}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  /* Safari only override */
}

@-ms-viewport {
  width: auto !important;
}

.content-ads .content-ads-inner .content {
  padding-left: 0px;
  padding-right: 20px;
}

.content-ads .content-ads-inner .ads .ads-container {
  text-align: right;
  padding-top: 95px;
}

.content-ads .content-ads-inner .ads .ads-container a {
  margin-bottom: 20px;
}

.content-ads .content-ads-inner .ads .ads-container a:last-child {
  margin-bottom: 00px;
}

.content-category {
  padding-bottom: 40px;
}

.content-category {
  margin-left: -20px;
  margin-right: -20px;
}

.content-category>[class*="col"] {
  margin: 40px 0px;
  padding: 0;
}

.content-category>[class*="col"] .inner {
  padding: 0px 20px;
}

.content-category>[class*="col"] .inner>div:not(.close-saved) {
  -webkit-box-shadow: 0px 0px 15px #00000040;
  box-shadow: 0px 0px 15px #00000040;
  overflow: hidden;
  border-radius: 4px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.content-category>[class*="col"] .inner>div:not(.close-saved):hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.content-category>[class*="col"] .inner img {
  width: 100%;
}

.content-category>[class*="col"] .inner .inner-text {
  padding: 15px 20px 0px 20px;
}

.content-category>[class*="col"] .inner .readable {
  font-size: 14px;
  text-align: justify;
}

.content-category>[class*="col"] .inner a {
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 15px 0;
  text-decoration: none;
}

.logoSlider {
  padding: 40px 0;
}

.logoSlider .logoSlider-inner .logoSlide .item img {
  width: auto;
  height: 80px;
}

.heading-4 {
  border: 0px;
}

.adv-Checkbox {
  position: relative;
}

.adv-Checkbox input {
  visibility: hidden;
}

.adv-Checkbox span {
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
}

.adv-Checkbox input:checked+span {
  background-image: url("../images/check.png");
}

.adv-Checkbox div {
  float: left;
  margin-left: 10px;
}

.adv-Checkbox div a {
  color: #333;
}

.my-page-process .my-page-process-inner .selectStream ul li.blueBG a, .my-page-process .my-page-process-inner .selectStream ul li.blueBG a:hover {
  background-color: #00aeef;
  border: 2px solid #00aeef;
  color: white;
}

.my-page-process .my-page-process-inner .selectStream .selectStream-inner, .my-page-process .my-page-process-inner .selectTopic .selectTopic-inner {
  padding-top: 20px;
  padding-left: 20px;
  border: 2px solid #d9d9d9;
}

.my-page-process .my-page-process-inner .selectStream, .my-page-process .my-page-process-inner .selectTopic {
  margin-top: 30px;
  padding: 0px 20px;
}

.my-page-process .my-page-process-inner .selectStream ul li, .my-page-process .my-page-process-inner .selectTopic ul li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.my-page-process .my-page-process-inner .selectTopic ul li .radio-button input, .form-field .radio-button input {
  display: none;
}

.my-page-process .my-page-process-inner .selectTopic ul li .radio-button span, .form-field .radio-button span {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  padding: 3px;
  border-radius: 50px;
  margin-right: 5px;
}

.my-page-process .my-page-process-inner .selectTopic ul li .radio-button input:checked+span, .form-field .radio-button input:checked+span {
  border: 2px solid #00aeef;
}

.my-page-process .my-page-process-inner .selectTopic ul li .radio-button input:checked+span:before, .form-field .radio-button input:checked+span:before {
  content: '';
  background-color: #00aeef;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
}

.my-page-process .my-page-process-inner .selectTopic ul li .radio-button div, .form-field .radio-button div {
  font-size: 16px;
}

.hcd .formFltr .formFltr-ul li .search-btn, .myrh .formFltr .formFltr-ul li>div .search-btn, .myrh .comp-list-detail.myrh-table td .view-detail, .company-tranie .filter-sec-inner form>li div button, .company-tranie .filter-sec-inner>ul>li div button {
  background-color: #fb9e38;
  border: 1px solid #fb9e38;
  padding: 0px 20px;
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 16px;
}

.hcd .formFltr .formFltr-ul li .search-btn:hover, .myrh .formFltr .formFltr-ul li>div .search-btn:hover, .myrh .comp-list-detail.myrh-table td .view-detail:hover, .company-tranie .filter-sec-inner form>li div button:hover, .company-tranie .filter-sec-inner>ul>li div button:hover {
  border: 1px solid #fb9e38;
  background-color: white;
  color: #fb9e38;
}

.bredcrumb {
  margin: 15px 0;
}

.bredcrumb ul li {
  color: #00aeef;
  font-size: 14px;
  line-height: 14px;
}

.bredcrumb ul li a {
  color: #666666;
  padding-right: 25px;
  margin-right: 20px;
}

.bredcrumb ul li a:after {
  content: '\f105';
  font-family: fontawesome;
  right: 0px;
  position: absolute;
}

.block, .content-category>[class*="col"] .inner a, .logoSlider .logoSlider-inner .logoSlide .item img, .my-page-process .my-page-process-inner .selectTopic ul li .radio-button, .form-field .radio-button, .my-page-process .my-page-process-inner .selectTopic ul li .radio-button span, .form-field .radio-button span, .bredcrumb ul li a, .header1 .header-social li a, .header2 .header2-inner .logo a img, .header2 .header2-inner .menu .level-2>ul li a, .header2 .header2-inner .menu .level>ul li a, .header2 .header2-inner .menu .level-3>ul li a, .afterloginPopup .morelink-dropdwn ul li a, .my-page-process .my-page-process-inner .processnav ul li div span, .company-tranie .ds-types, .company-tranie .ds-types .ds-types-inner ul li .ds-content:before, .company-tranie .filter-sec-inner label, .company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>ul.filter-sec-adv li, .company-tranie .company-details, .company-tranie .company-details .ds-company-content .half, .company-tranie .company-details .ds-company-content .full, .dataSecurityaccordion .panel-default>.panel-heading a, .dataSecurityaccordion .panel-default .panel-body .video, .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=text], .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div label, .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=email], .cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul li a, .threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(1) img, .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(1) img, .threebox .threebox-inner .vTicker ul li a, .footer .footer-inner .quicklinks, .footer .footer-inner .quicklinks li, .footer .footer-inner .numbers, .contactus ul {
  display: block;
}

.redbox-popup {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  margin: auto;
}

.redbox-popup .overlay, .redbox-popup .stage, .redbox-popup .popupbody {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  margin: auto;
}

.redbox-popup .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.redbox-popup .stage {
  width: 500px;
  height: 400px;
  bottom: unset;
  top: 50px;
  display: table;
}

.redbox-popup .close {
  width: 25px;
  height: 25px;
  background-color: #000;
  color: #fff;
  display: table-cell;
  position: absolute;
  z-index: 99999999;
  border-radius: 50px;
  top: -10px;
  right: -10px;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
  font-size: 16px;
  cursor: pointer;
}

.redbox-popup .popupbody {
  background-color: white;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 25px 10px 10px 10px;
}

.redbox-popup .popupbody textarea {
  min-height: 100px;
  height: 100px;
}

@media (max-width: 500px) {
  .redbox-popup .stage {
    width: 90%;
    height: 553px;
  }
}

.header1 {
  background: #00aeef;
  padding: 5px 0;
}

.header1 .header-social li {
  margin-left: 15px;
}

.header1 .header-social li.header-text {
  margin-right: 40px;
}

.header1 .header-social li.header-text a {
  font-size: 15px;
  text-decoration: none;
}

.header1 .header-social li a {
  font-size: 17px;
  color: white;
}

.header1 .header-social li:not(.header-text) a {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header1 .header-social li:not(.header-text) a:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.header2 {
  background: white;
  padding: 18px 0;
}

.header2 .header2-inner .logo {
  display: table;
}

.header2 .header2-inner .logo a {
  width: auto;
  height: 38px;
  display: table-cell;
  vertical-align: middle;
}

.header2 .header2-inner .menu>ul>li {
  position: relative;
  margin-left: 48px;
  display: table;
}

.header2 .header2-inner .menu>ul>li:nth-child(1) {
  margin-left: 00px;
}

.header2 .header2-inner .menu>ul>li.contact-btn a {
  padding: 0 20px;
}

.header2 .header2-inner .menu>ul>li>a {
  color: black;
  font-size: 15px;
  text-decoration: none;
  width: auto;
  height: 37px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-bottom: 2px solid white;
}

.header2 .header2-inner .menu>ul>li>a.active, .header2 .header2-inner .menu>ul>li>a:hover {
  color: #00aeef;
  border-bottom: 2px solid #00aeef;
}

.header2 .header2-inner .menu>ul>li.afterloginPopup>a {
  border-bottom: 0px;
}

.header2 .header2-inner .menu>ul>li.afterloginPopup>a.active, .header2 .header2-inner .menu>ul>li.afterloginPopup>a:hover {
  border-bottom: 0px;
}

.header2 .header2-inner .menu>ul>li:hover>ul, .header2 .header2-inner .menu>ul>li:focus>ul {
  display: block;
}

.header2 .header2-inner .menu .level-2>ul, .header2 .header2-inner .menu .level>ul, .header2 .header2-inner .menu .level-3>ul {
  position: absolute;
  top: 37px;
  left: 0;
  background-color: white;
  z-index: 9999;
  width: 200px;
  -webkit-box-shadow: 0px 0px 5px #00000057;
  box-shadow: 0px 0px 5px #00000057;
  border-radius: 0px 0px 5px 5px;
  border-top: 2px solid #00aeef;
  display: none;
}

.header2 .header2-inner .menu .level-2>ul li:last-child a, .header2 .header2-inner .menu .level>ul li:last-child a, .header2 .header2-inner .menu .level-3>ul li:last-child a {
  border-bottom: 0px solid #eee;
}

.header2 .header2-inner .menu .level-2>ul li a, .header2 .header2-inner .menu .level>ul li a, .header2 .header2-inner .menu .level-3>ul li a {
  padding: 7px 7px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.header2 .header2-inner .menu .level-2>ul li a:hover, .header2 .header2-inner .menu .level>ul li a:hover, .header2 .header2-inner .menu .level-3>ul li a:hover {
  background-color: #00aeef;
  color: white;
}

.header2 .header2-inner .menu .level-2>ul li:hover>ul, .header2 .header2-inner .menu .level-2>ul li:focus>ul, .header2 .header2-inner .menu .level>ul li:hover>ul, .header2 .header2-inner .menu .level-3>ul li:hover>ul, .header2 .header2-inner .menu .level>ul li:focus>ul, .header2 .header2-inner .menu .level-3>ul li:focus>ul {
  display: block;
}

.header2 .header2-inner .menu .level-3>ul {
  left: 100%;
  top: 0px;
}

.header2 .header2-inner .menu .menu-bars {
  float: right;
  margin-left: 15px;
}

.header2 .header2-inner .menu .menu-bars i {
  display: table-cell;
  height: 38px;
  vertical-align: middle;
  font-size: 35px;
}

.mob-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

.mob-menu {
  padding: 20px;
  position: fixed;
  z-index: 999999999;
  background-color: #00aeef;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 15px #0006;
  box-shadow: 0px 0px 15px #0006;
  display: none;
}

.mob-menu .mob-menu-inner {
  position: relative;
}

.mob-menu .mob-menu-inner .mob-menu-close {
  position: relative;
  color: white;
  font-size: 25px;
  line-height: 9px;
  padding-bottom: 15px;
  text-align: right;
}

.mob-menu .mob-menu-inner .mob-menu-ul .mob-dd a:before {
  display: none;
}

.mob-menu .mob-menu-inner .mob-menu-ul ul li ul {
  display: none;
  margin-left: 15px;
  margin-right: 15px;
}

.mob-menu .mob-menu-inner .mob-menu-ul ul li ul li a {
  font-size: 14px;
}

.mob-menu .mob-menu-inner .mob-menu-ul ul li ul li a:before {
  font-size: 18px;
  line-height: 15px;
}

.mob-menu .mob-menu-inner .mob-menu-ul ul li a {
  position: relative;
  padding: 15px 0;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-bottom: 1px solid white;
}

.mob-menu .mob-menu-inner .mob-menu-ul ul li a:before {
  content: '+';
  position: absolute;
  right: 0;
  z-index: 99;
  font-size: 25px;
  line-height: 15px;
  font-weight: 700;
}

.mob-menu .mob-menu-inner .mob-emlphn-ul {
  padding-top: 12px;
  padding-bottom: 20px;
}

.mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone {
  margin-top: 30px;
}

.mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone li {
  margin-bottom: 15px;
}

.mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone li i {
  color: #00aeef;
  font-size: 25px;
  float: left;
  display: block;
  height: 25px;
  width: 25px;
}

.mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone li span {
  color: white;
  float: left;
  display: block;
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 14px;
  height: 25px;
  line-height: 14px;
  padding-top: 5px;
}

.mob-menu .mob-menu-inner .mob-emlphn-ul .email-phone li input {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 3px;
  background: white url("../images/search-black.png") no-repeat 95% center;
}

.afterloginPopup .profile-photo ul li {
  display: table;
  margin-left: 5px;
}

.afterloginPopup .profile-photo ul li.profileImg img {
  width: 37px;
  height: 37px;
  border-radius: 50px;
}

.afterloginPopup .profile-photo ul li div {
  height: 37px;
  display: table-cell;
  vertical-align: middle;
}

.afterloginPopup .morelink-dropdwn {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 150px;
  z-index: 99;
  padding-top: 15px;
  display: none;
}

.afterloginPopup .morelink-dropdwn ul li {
  border-top: 1px solid #eee;
  background-color: white;
}

.afterloginPopup .morelink-dropdwn ul li a {
  padding: 10px 15px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.afterloginPopup .morelink-dropdwn ul li a:hover {
  background-color: #00aeef;
  color: white;
}

.afterloginPopup .morelink-dropdwn ul li:first-child {
  border-top: 3px solid #00aeef;
}

.afterloginPopup .morelink-dropdwn ul li:last-child {
  border-bottom: 1px solid #eee;
}

.banner .banner-inner>img {
  width: 100%;
}

.banner .laptop {
  position: absolute;
  top: 36%;
  right: 0;
  z-index: 999999;
}

.banner .laptop .laptop-video {
  position: absolute;
  top: 27px;
  right: 11px;
  width: 535px;
  height: 333px;
  z-index: 999999;
}

.banner-cont {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-65%);
  -webkit-transform: translateY(-65%);
  -moz-transform: translateY(-65%);
  -o-transform: translateY(-65%);
}

.banner-cont .bannerSlider .item {
  width: 100%;
}

.banner-cont .bannerSlider .item h2 {
  font-size: 44px;
  color: white;
  font-family: Arial;
  margin-bottom: 25px;
}

.banner-cont .bannerSlider .item p {
  color: white;
  font-size: 16px;
}

.banner-cont .bannerSlider .item .btn-secondary {
  padding: 10px 25px;
  margin-top: 25px;
}

.banner-cont .bannerSlider .owl-dots {
  position: absolute;
  bottom: -20%;
  left: 0;
}

.banner-cont .bannerSlider .owl-dots button.active span {
  background: white;
}

.banner-cont .bannerSlider .owl-dots button span {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid white;
  margin: 2px;
}

.banner-2 {
  height: 440px;
  background: url("../images/banner-4.png") no-repeat center;
  background-size: cover;
  margin-bottom: 40px;
  position: relative;
}

.banner-2>div {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-2>div h1 {
  color: #00aeef;
  font-size: 44px;
  font-family: Arial;
  margin-bottom: 25px;
  line-height: 60px;
}

.banner-2>div h1 span {
  color: white;
  font-family: Arial;
}

.banner-2>div p {
  color: white;
  font-size: 18px;
}

.my-page-process .my-page-process-inner {
  -webkit-box-shadow: 0px 0px 10px #0000004f;
  box-shadow: 0px 0px 10px #0000004f;
  padding: 20px 00px;
}

.my-page-process .my-page-process-inner .processnav {
  padding-left: 20px;
}

.my-page-process .my-page-process-inner .processnav ul li {
  width: 25%;
  height: 70px;
  display: table;
  padding-right: 20px;
}

.my-page-process .my-page-process-inner .processnav ul li.blueBG div {
  background-image: url("../images/process-nav-blue.svg");
  color: white;
}

.my-page-process .my-page-process-inner .processnav ul li div {
  background-image: url("../images/process-nav-white.svg");
  color: black;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
}

.my-page-process .my-page-process-inner .processnav ul li div span {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
}

.my-page-process .my-page-process-inner .selectStream .heading-4 {
  font-size: 30px;
}

.my-page-process .my-page-process-inner .selectStream ul li {
  display: table;
}

.my-page-process .my-page-process-inner .selectStream ul li a {
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  border: 2px solid gray;
  color: black;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.my-page-process .my-page-process-inner .selectStream ul li a:hover {
  background-color: #eee;
}

.my-page-process .my-page-process-inner .selectTopic .heading-4 {
  font-size: 30px;
}

.my-page-process .my-page-process-inner .selectTopic ul li {
  vertical-align: middle;
}

.close-saved {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  background-image: url("../images/close-saved.png");
  z-index: 9999;
  top: 10px;
  right: 30px;
  width: 36px;
  height: 36px;
}

.content-category {
  padding-bottom: 40px;
}

.content-category.my-page>[class*="col"] {
  margin: 40px 0px 00px 0px;
}

.content-category.my-page>[class*="col"].saved .inner {
  position: relative;
}

.content-category.my-page>[class*="col"].saved .inner>a {
  cursor: pointer !important;
}

.content-category.my-page>[class*="col"].saved .inner>div:not(.close-saved), .content-category.my-page>[class*="col"].saved .inner>a:not(.close-saved) {
  cursor: default;
  position: relative;
  padding: 0 0 10px 0;
  background: white;
}

.content-category.my-page>[class*="col"].saved .inner>div:not(.close-saved):hover, .content-category.my-page>[class*="col"].saved .inner>a:not(.close-saved):hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.content-category.my-page>[class*="col"].saved .inner>div:not(.close-saved):before, .content-category.my-page>[class*="col"].saved .inner>a:not(.close-saved):before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.content-category.my-page>[class*="col"].active .inner>div:not(.close-saved) {
  cursor: default;
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
  -webkit-box-shadow: 0px 0px 50px #00000052;
  box-shadow: 0px 0px 50px #00000052;
}

.content-category.my-page>[class*="col"].active .inner>div:not(.close-saved):before {
  content: '';
  width: 33px;
  height: 33px;
  background-image: url("../images/active-box.png");
  z-index: 9999;
  top: 8px;
  left: 8px;
  position: absolute;
}

.content-category.my-page>[class*="col"] .inner>div:not(.close-saved) {
  -webkit-box-shadow: 0px 0px 2px #00000040;
  box-shadow: 0px 0px 2px #00000040;
}

.content-category.my-page>[class*="col"] .inner>div:not(.close-saved):hover {
  -webkit-box-shadow: 0px 0px 50px #00000052;
  box-shadow: 0px 0px 50px #00000052;
}

.content-category.my-page .blue-shade {
  margin-top: 20px;
}

.ds-banner-sec.aboutbanner {
  /*background:#E7E9E4 url('../images/about-banner.jpg') no-repeat right top;*/
}

.ds-banner-sec.aboutbanner section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e9e4+12,e7e9e4+59&1+12,0+58 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #e7e9e4), color-stop(58%, rgba(231, 233, 228, 0)), color-stop(59%, rgba(231, 233, 228, 0)));
  background: linear-gradient(to right, #e7e9e4 12%, rgba(231, 233, 228, 0) 58%, rgba(231, 233, 228, 0) 59%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e9e4', endColorstr='#00e7e9e4', GradientType=1);
  /* IE6-9 */
}

.ds-banner-sec.aboutbanner section>div .row {
  height: 500px;
  display: table;
}

.ds-banner-sec.aboutbanner section>div .row div {
  display: table-cell;
  vertical-align: middle;
}

.ds-banner-sec.aboutbanner section>div .row h1 {
  text-transform: uppercase;
  color: #000;
  font-family: Arial;
}

.ds-banner-sec.aboutbanner section>div .row a {
  background-color: #00aeef;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  margin-top: 25px;
}

.aboutus-content {
  margin: 60px 0;
}

.aboutus-content .content-ads-inner .ads-container {
  padding-top: 0px !important;
}

.aboutus-content .big-heading {
  padding: 10px 20px 10px 20px;
  margin-bottom: 25px;
}

.aboutus-content .content>div {
  border: 1px solid #ddd;
  background-color: white;
  padding-bottom: 20px;
}

.aboutus-content .content>div p {
  padding: 0 20px;
  font-size: 16px;
}

.ds-banner_news-sec.newsbanner {
  background: #00a44e;
}

.ds-banner_news-sec.newsbanner section {
  background: #00a44e;
}

.ds-banner_news-sec.newsbanner section>div .row {
  height: 179px;
  display: table;
}

.ds-banner_news-sec.newsbanner section>div .row div {
  display: table-cell;
  vertical-align: middle;
}

.ds-banner_news-sec.newsbanner section>div .row h1 {
  text-transform: uppercase;
  color: white;
  font-family: Arial;
}

.ds-banner_news-sec.newsbanner section>div .row h1 span {
  font-size: 18px;
  font-weight: normal;
}

.ds-banner_news-sec.newsbanner section>div .row a {
  background-color: #00aeef;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  margin-top: 25px;
}

.news-content {
  margin: 60px 0;
}

.news-content .content-ads-inner .ads-container {
  padding-top: 0px !important;
}

.news-content .big-heading {
  padding: 10px 20px 10px 20px;
  margin-bottom: 25px;
}

.news-content .content>div:not(:nth-child(2)) {
  border: 1px solid #ddd;
  background-color: white;
  padding-bottom: 20px;
}

.news-content .content>div:not(:nth-child(2)) p {
  /* padding:0 20px; */
  font-size: 16px;
}

.news-content .banner_block {
  width: 812px;
  margin: 25px auto 13px;
}

.news-content .banner_block .title_block {
  background-image: url("../images/news_head_back.png");
  height: 236px;
  width: 323px;
  float: right;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  padding: 55px 20px 0px;
}

.news-content .banner_block .title_block h2 {
  font-size: 16px;
}

.news-content .banner_block .title_block h2 span {
  font-size: 12px;
}

.news-content .banner_block .title_block p {
  font-size: 14px;
  padding-top: 14px;
  padding-left: 0px;
}

.news-content .news_thumb_block {
  margin: 0 20px;
}

.news-content .news_thumb_block .news_thumb_block_inner {
  margin-right: -6px;
  margin-left: -6px;
}

.news-content .news_thumb_block .news_thumb_block_inner .news_thumb {
  width: calc(100% / 5);
  float: left;
  padding: 0px 6px;
}

.news-content .news_thumb_block .news_thumb_block_inner .news_thumb img {
  width: 100%;
  border-radius: 4px;
}

.news-content .news_thumb_block .news_thumb_block_inner .news_thumb p {
  font-size: 12px;
  padding: 8px 5px;
  font-weight: bold;
}

.news-content .news_listing_block {
  margin: 0 20px;
}

.news-content .news_listing_block .news_listing_block_inner {
  margin-right: -6px;
  margin-left: -6px;
  margin-top: 18px;
}

.news-content .news_listing_block .news_listing_block_inner .news_listing_thumb {
  width: 20%;
  float: left;
}

.news-content .news_listing_block .news_listing_block_inner .news_listing_thumb img {
  width: 100%;
  border-radius: 4px;
}

.news-content .news_listing_block .news_listing_block_inner .news_listing_text {
  width: calc(80% - 1em);
  float: left;
}

.news-content .news_listing_block .news_listing_block_inner .news_listing_text h3 {
  font-size: 16px;
  padding-left: 20px;
  font-weight: bold;
}

.news-content .news_listing_block .news_listing_block_inner .news_listing_text h3 span {
  font-size: 12px;
}

.news-content .news_listing_block .news_listing_block_inner .news_listing_text p.text {
  font-size: 14px;
  padding-top: 14px;
  padding-left: 20px;
}

.blog-content {
  margin: 60px 0;
}

.blog-content .content-ads-inner .ads-container {
  padding-top: 0px !important;
}

.blog-content .big-heading {
  padding: 10px 20px 10px 20px;
}

.blog-content .content>div:not(:nth-child(2)) {
  border: 1px solid #ddd;
  background-color: white;
  padding-bottom: 20px;
}

.blog-content .content>div:not(:nth-child(2)) p {
  padding: 0 20px;
  font-size: 16px;
}

.blog-content .content>div:not(:nth-child(2)).blog-cont-inn {
  padding: 24px 18px;
}

.blog-content .image_block {
  width: auto;
  height: auto;
  margin-bottom: 25px;
}

.blog-content .image_block img {
  width: 100%;
}

.blog-content .post-list .col-lg-4, .blog-content .post-list .col-md-4, .blog-content .post-list .col-sm-6 {
  padding-right: 10px;
  padding-left: 10px;
}

.blog-content .post-list .postbox {
  display: block;
  margin-bottom: 40px;
  border: 1px solid #faf9f9;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.blog-content .post-list .postbox:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 50px #00000052;
  box-shadow: 0px 0px 50px #00000052;
  webkit-transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.blog-content .post-list .postbox .postbox-img {
  position: relative;
  margin-bottom: 20px;
}

.blog-content .post-list .postbox .postbox-img img {
  width: 100%;
}

.blog-content .post-list .postbox .postbox-img .post-date-img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 46px;
  height: auto;
  padding: 5px;
  font-family: Arial;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 16px;
  background-color: #00aeef;
}

.blog-content .post-list .postbox .postbox-img .post-date-img span {
  dispaly: block;
}

.blog-content .post-list .postbox .postbox-text h2 {
  padding: 0 15px 10px;
  font-family: Arial;
  font-size: 16px;
  color: black;
}

.blog-content .post-list .postbox .postbox-text p {
  padding: 0 15px;
  font-size: 14px;
  color: black;
}

.blog-content .post-list .clearfixrows {
  clear: both;
  min-height: 1px;
}

.ds-banner-sec.hcd-banner {
  background-color: #666666;
}

.ds-banner-sec.hcd-banner>div .row {
  height: 160px !important;
}

.ds-banner-sec.hcd-banner>div .row div {
  padding-top: 0px;
}

.ds-banner-sec.hcd-banner>div .row div h1 {
  font-size: 30px;
}

.hcd {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hcd .heading-row {
  border-bottom: 1px solid #cccccc;
  padding: 20px 0px 30px 0;
  margin-bottom: 30px;
}

.hcd .heading-row h2 {
  font-family: Arial;
  font-size: 20px;
  color: #fb9e38;
}

.hcd .program-details {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  display: block;
}

.hcd .program-details strong {
  color: #00aeef;
  font-weight: normal;
  font-family: Arial;
}

.hcd .program-details strong.black {
  color: black;
}

.hcd .formFltr {
  margin-bottom: 40px;
}

.hcd .formFltr .formFltr-ul li {
  dispaly: block;
}

.hcd .formFltr .formFltr-ul li .search-btn {
  height: 40px;
  border-radius: 3px;
  padding: 10px 40px;
}

.row.description-row {
  padding-top: 35px;
}

.sub-course-details {
  padding-bottom: 25px;
  background-color: #fb9e38;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .sub-course-details {
    margin-left: 85px;
  }
}

.course-heading {
  color: white;
  font-size: 20px;
  margin: 0px;
  border-bottom: 1px solid white;
  padding: 15px;
}

.course-heading span {
  float: right;
}

.course-heading a {
  color: white;
  font-size: 14px;
  text-decoration: underline;
}

.course-heading a:hover {
  text-decoration: none;
}

.course-details {
  padding: 22px 20px 0px 20px;
  color: #fff;
}

.course-details span {
  float: right;
}

.cancel-button {
  text-align: right;
  padding: 30px 20px 0 20px;
}

.cancel-button .cancel-btn {
  color: #fb9e38;
  padding: 10px 35px;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.cancel-button .cancel-btn:hover {
  background-color: #fb9e38;
  color: white;
}

.data-box {
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
}

.data-box .data-box-heading {
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 30px 25px;
  margin-bottom: 25px;
}

.data-box .data-box-heading h2 {
  font-size: 20px;
  color: #fb9e38;
  font-family: Arial;
}

.data-box .data-box-content {
  padding: 10px 30px 20px;
}

.myrh {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.myrh .formFltr {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .myrh .formFltr {
    overflow-x: scroll;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .myrh .formFltr .formFltr-ul {
    width: 767px;
  }
}

.myrh .formFltr .formFltr-ul li {
  margin: 10px 0;
}

@media (max-width: 1023px) {
  .myrh .formFltr .formFltr-ul li {
    width: 25%;
  }
}

.myrh .formFltr .formFltr-ul li>div {
  margin-right: 25px;
}

.myrh .formFltr .formFltr-ul li>div input, .myrh .formFltr .formFltr-ul li>div select {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 250px;
}

@media (max-width: 1023px) {
  .myrh .formFltr .formFltr-ul li>div input, .myrh .formFltr .formFltr-ul li>div select {
    min-width: auto;
    width: 100%;
  }
}

.myrh .formFltr .formFltr-ul li>div .search-btn {
  height: 40px;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 0px 5px;
}

.myrh .comp-list-detail.myrh-table th {
  padding: 15px 10px;
}

.myrh .comp-list-detail.myrh-table th, .myrh .comp-list-detail.myrh-table td {
  font-size: 13px;
  padding: 10px;
}

.myrh .comp-list-detail.myrh-table td .view-detail {
  height: 35px;
  border-radius: 3px;
  padding: 5px 15px;
}

.user-regis {
  padding-right: 90px;
}

.form-row {
  margin-top: 30px;
}

.form-row .btn-primary, .form-row .header2 .header2-inner .menu>ul>li.contact-btn a, .header2 .header2-inner .menu>ul>li.contact-btn .form-row a {
  background: #00aeef;
  border: 1px solid #00aeef;
  padding: 8px 30px;
  font-size: 16px;
  margin-top: 50px;
}

.form-row .btn-primary:hover, .form-row .header2 .header2-inner .menu>ul>li.contact-btn a:hover, .header2 .header2-inner .menu>ul>li.contact-btn .form-row a:hover {
  background: white;
  color: #00aeef;
  border: 1px solid #00aeef;
}

.form-field {
  margin-bottom: 23px;
}

.form-field label {
  font-size: 16px;
  color: #303030;
}

.form-field select, .form-field input[type='text'], .form-field input[type='password'], .form-field textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #e6e9eb;
  border-radius: 5px;
  font-size: 16px;
  color: #444;
  font-family: Arial;
  height: 45px;
}

.form-field textarea {
  height: 120px;
}

.form-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/dwon-arrow.png") no-repeat 95%;
}

.form-field-orange select {
  width: 100%;
  min-width: 130px;
  height: 35px;
  padding: 5px 40px 5px 10px;
  font-family: Arial;
  font-size: 16px;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  behavior: url(PIE.htc);
  background: #fb9e38 url("../images/dwon-bar-arrow.png") no-repeat right center;
  border: 1px solid #fb9e38;
  border-radius: 3px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.form-field-orange select::-ms-expand {
  display: none;
}

.ds-banner-sec {
  background-color: #252525;
  color: white;
}

.ds-banner-sec>div .row {
  height: 445px;
  display: table;
}

.ds-banner-sec>div .row div {
  display: table-cell;
  vertical-align: middle;
  padding-top: 60px;
}

.ds-banner-sec>div .row div h1 {
  font-size: 44px;
}

.ds-banner-sec>div .row div p {
  margin-top: 10px;
  font-size: 18px;
}

/*.company-tranie { padding-top: 115px; }*/

.company-tranie .content {
  padding-right: 0px !important;
}

.company-tranie .ds-types {
  margin-bottom: 30px;
  overflow: hidden;
}

.company-tranie .ds-types .ds-types-inner {
  margin: 0px -5px;
}

@media (max-width: 767px) {
  .company-tranie .ds-types .ds-types-inner {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 15px;
  }
  .company-tranie .ds-types .ds-types-inner ul {
    width: 767px;
  }
}

.company-tranie .ds-types .ds-types-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-tranie .ds-types .ds-types-inner ul li {
  width: 12.5%;
  padding: 0px 5px;
  display: table;
  float: left;
}

.company-tranie .ds-types .ds-types-inner ul li.active .ds-content {
  background-color: #00aeef;
  color: white;
}

.company-tranie .ds-types .ds-types-inner ul li.active .ds-content:hover {
  background-color: #00aeef;
  color: white;
}

.company-tranie .ds-types .ds-types-inner ul li.icons1.active .ds-content:before {
  background-image: url("../images/ds-icon1-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons2.active .ds-content:before {
  background-image: url("../images/ds-icon2-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons3.active .ds-content:before {
  background-image: url("../images/ds-icon3-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons4.active .ds-content:before {
  background-image: url("../images/ds-icon4-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons5.active .ds-content:before {
  background-image: url("../images/ds-icon5-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons6.active .ds-content:before {
  background-image: url("../images/ds-icon6-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons7.active .ds-content:before {
  background-image: url("../images/ds-icon7-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons8.active .ds-content:before {
  background-image: url("../images/ds-icon8-wh.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons1 .ds-content:before {
  background-image: url("../images/ds-icon1.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons2 .ds-content:before {
  background-image: url("../images/ds-icon2.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons3 .ds-content:before {
  background-image: url("../images/ds-icon3.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons4 .ds-content:before {
  background-image: url("../images/ds-icon4.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons5 .ds-content:before {
  background-image: url("../images/ds-icon5.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons6 .ds-content:before {
  background-image: url("../images/ds-icon6.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons7 .ds-content:before {
  background-image: url("../images/ds-icon7.png");
}

.company-tranie .ds-types .ds-types-inner ul li.icons8 .ds-content:before {
  background-image: url("../images/ds-icon8.png");
}

.company-tranie .ds-types .ds-types-inner ul li .ds-content {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: #666666;
  height: 80px;
  border: 1px solid #f2f2f2;
  text-align: center !important;
}

.company-tranie .ds-types .ds-types-inner ul li .ds-content:before {
  content: '';
  width: 33px;
  height: 30px;
  margin: auto;
}

.company-tranie .ds-types .ds-types-inner ul li .ds-content:hover {
  background-color: #fcfcfc;
}

.company-tranie .ds-types .ds-types-inner ul li .ds-content p {
  font-size: 15px !important;
  line-height: 14px;
  margin: 5px 0px 0px 0px;
}

.company-tranie .filter-sec {
  margin-bottom: 30px;
}

.company-tranie .filter-sec-inner {
  margin-bottom: 30px;
}

.company-tranie .filter-sec-inner label {
  color: #fb9e38;
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
}

.company-tranie .filter-sec-inner form, .company-tranie .filter-sec-inner>form, .company-tranie .filter-sec-inner>ul {
  text-align: center;
}

.company-tranie .filter-sec-inner form.filter-sec-adv li, .company-tranie .filter-sec-inner>form.filter-sec-adv li, .company-tranie .filter-sec-inner>ul.filter-sec-adv li {
  width: 11.45%;
}

.company-tranie .filter-sec-inner form.filter-sec-adv li div select, .company-tranie .filter-sec-inner form.filter-sec-adv li div input[type='text'], .company-tranie .filter-sec-inner form.filter-sec-adv li div button, .company-tranie .filter-sec-inner>form.filter-sec-adv li div select, .company-tranie .filter-sec-inner>form.filter-sec-adv li div input[type='text'], .company-tranie .filter-sec-inner>form.filter-sec-adv li div button, .company-tranie .filter-sec-inner>ul.filter-sec-adv li div select, .company-tranie .filter-sec-inner>ul.filter-sec-adv li div input[type='text'], .company-tranie .filter-sec-inner>ul.filter-sec-adv li div button {
  width: 100%;
}

.company-tranie .filter-sec-inner form>li, .company-tranie .filter-sec-inner>form>li, .company-tranie .filter-sec-inner>ul>li {
  margin: 0px -2px;
}

.company-tranie .filter-sec-inner form>li div, .company-tranie .filter-sec-inner>form>li div, .company-tranie .filter-sec-inner>ul>li div {
  padding: 0px 15px;
}

.company-tranie .filter-sec-inner form>li div.pd5, .company-tranie .filter-sec-inner>form>li div.pd5, .company-tranie .filter-sec-inner>ul>li div.pd5 {
  padding: 0px 5px;
}

.company-tranie .filter-sec-inner form>li div>*:not(label), .company-tranie .filter-sec-inner>form>li div>*:not(label), .company-tranie .filter-sec-inner>ul>li div>*:not(label) {
  height: 40px;
}

.company-tranie .filter-sec-inner form>li div select.pro-city, .company-tranie .filter-sec-inner form>li div input[type='text'].pro-city, .company-tranie .filter-sec-inner>form>li div select.pro-city, .company-tranie .filter-sec-inner>form>li div input[type='text'].pro-city, .company-tranie .filter-sec-inner>ul>li div select.pro-city, .company-tranie .filter-sec-inner>ul>li div input[type='text'].pro-city {
  min-width: 200px;
}

.company-tranie .company-details {
  margin-bottom: 15px;
  border: 1px solid #e6e6e6;
  padding: 5px;
  border: 1px solid #dcdfdf;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 0 2px 2px #f6f7f7;
}

@media (max-width: 767px) {
  .company-tranie .company-details .logo-sec {
    margin-bottom: 15px;
  }
}

.company-tranie .company-details .logo-sec {
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 5px 5px;
}

.company-tranie .company-details .logo-sec img {
  max-width: 100%;
}

.company-tranie .company-details .ds-company-content {
  position: relative;
}

.company-tranie .company-details .ds-company-content .half {
  padding-right: 30px;
}

.company-tranie .company-details .ds-company-content .full {
  clear: left;
  width: 100%;
}

.company-tranie .company-details .ds-company-content h5 {
  color: #00aeef;
  font-size: 14px;
  font-family: Arial;
  margin: 0px 0px 5px 0px;
}

.company-tranie .company-details .ds-company-content p {
  font-size: 16px;
  color: black;
}

.company-tranie .company-details .ds-company-content .view-all {
  position: absolute;
  bottom: 0px;
  right: 0;
}

.company-tranie .company-details .ds-company-content a {
  font-size: 16px;
  margin-bottom: 0px;
  color: #fb9e38;
  /*background:url('../images/arrow-2-logo.png') no-repeat right center;*/
  padding-right: 25px;
  text-decoration: underline;
}

.company-tranie .company-details .ds-company-content ul li {
  list-style-image: url("../images/arrow-img.jpg");
  list-style-position: inside;
}

.dataSecurityaccordion .panel {
  margin: 0px;
  margin-bottom: 20px;
}

.dataSecurityaccordion .panel-default {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dataSecurityaccordion .panel-default.panel {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #eeeeee;
}

.dataSecurityaccordion .panel-default>.panel-heading {
  background: #fafafa;
  border: 0;
  padding: 0;
}

.dataSecurityaccordion .panel-default>.panel-heading a {
  padding: 18px 15px;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
}

.dataSecurityaccordion .panel-default>.panel-heading a[aria-expanded='true'] i:before {
  content: '\f106';
}

.dataSecurityaccordion .panel-default>.panel-heading a i {
  font-size: 24px;
  line-height: 12px;
  color: #595959;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.dataSecurityaccordion .panel-default>.panel-heading a i:before {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.dataSecurityaccordion .panel-default .panel-body {
  border-top: 0px !important;
  background: #fafafa;
  font-size: 15px;
}

.dataSecurityaccordion .panel-default .panel-body .video {
  width: 165px;
  height: 140px;
  margin-right: 15px;
  margin-top: 15px;
}

.dataSecurityaccordion .panel-default .panel-body .video .video-inner {
  width: 150px;
  height: 100px;
  background-color: #f2f2f2;
}

.dataSecurityaccordion .panel-default .panel-body .video p {
  padding: 4px 0;
  text-align: center;
  margin: 0px;
}

.dataSecurity-Tabs .filter-sec:not(first-child) {
  display: none;
}

p.policy-line {
  color: black;
  font-size: 14px;
  font-family: Arial;
  margin-top: 15px;
}

.comp-list-detail {
  width: 100%;
}

@media (max-width: 767px) {
  .comp-list-detail {
    width: 767px;
  }
}

.comp-list-detail thead tr {
  background-color: #f0f0f0;
}

.comp-list-detail thead tr th {
  padding: 17px 15px 15px 15px;
  border: 1px solid white;
  font-family: 'futura_medium';
}

.comp-list-detail thead tr th.action {
  width: 110px;
}

.comp-list-detail thead tr th, .comp-list-detail thead tr td, .comp-list-detail tbody tr th, .comp-list-detail tbody tr td {
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.comp-list-detail tbody tr td {
  padding: 20px;
  font-family: 'futura_light_bt';
  border: 1px solid #f0f0f0;
}

.comp-list-detail tbody tr td a {
  color: #00aeef;
  text-decoration: underline;
}

.comp-list-detail tbody tr td button.enrolled {
  background-color: #00aeef;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 3px 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 1px solid #00aeef;
}

.comp-list-detail tbody tr td button.enrolled:hover {
  background-color: white;
  color: #00aeef;
}

.table-in {
  background-color: white;
}

.table-in .table-in-div .table-in-close {
  position: absolute;
  z-index: 9999;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: white;
  background: black;
  text-align: center;
  cursor: pointer;
}

.basicModalMD h2 {
  text-align: center;
}

.basicModalMD .p {
  text-align: center;
  padding-top: 130px;
}

.basicModalMD .filter_body {
  width: 600px;
  height: auto;
  background-color: white;
}

.basicModalMD .search_box {
  height: 45px;
  border: 1px solid #0071b357;
  margin-top: 5px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px #0071b329;
  box-shadow: inset 0 0 10px #0071b329;
}

.basicModalMD .filter_heading_title {
  font-size: 20px;
  color: #fb9e38;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-weight: normal;
  font-family: Arial;
}

/*.basicModalMD .modal-header button { color: #fd9733; font-weight: bold; border: 1px solid #fff; }*/

.basicModalMD .filter_cross_button {
  padding: 0px !important;
}

.basicModalMD .company-description, .how-it-works {
  padding: 30px 30px 0px 30px;
  margin: 0px auto;
}

.basicModalMD .company-description h5, .how-it-works h5 {
  font-size: 14px;
  color: #00aeef;
  font-family: Arial;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

/*.basicModalMD .company-description span { float: left; width: 50%; }*/

.basicModalMD .company-description, .how-it-works {
  max-height: 500px;
  overflow-x: auto;
}

.institute_detail {
  margin-left: 15px;
}

.basicModalMD .company-description p, .how-it-works p {
  font-size: 15px;
  color: #000;
  font-family: Arial;
  font-weight: normal;
}

.basicModalMD .company-description span:nth-child(7) {
  width: 100%;
  float: none;
}

.basicModalMD .Filter_close_buttons {
  border-top: 1px solid #e9ecef;
  padding: 25px;
  text-align: center;
  color: #fff;
  width: 100%;
  float: left;
}

.basicModalMD .Filter_close_buttons button:nth-child(1) {
  width: 21%;
  padding: 9px;
  margin-right: 15px;
}

.basicModalMD .Filter_close_buttons button:nth-child(2) {
  padding: 9px;
  width: 115px;
}

.basicModalMD .Filter_close_buttons button {
  color: #fff;
  background-color: #fd9733;
  border: 1px solid #fd9733;
  text-align: center;
  font-family: Arial;
}

.basicModalMD .Filter_close_buttons .btn-warning:hover {
  color: #ffff;
  background-color: #fd9733;
  border: 1px solid #fd9733;
}

.cal-info {
  margin-bottom: 20px;
}

.cal-info input {
  width: 160px;
  height: 40px;
  background: url(../images/calendar.png) no-repeat right center;
  border: 0;
  padding: 5px 40px 5px 0px;
  font-size: 20px;
  color: #00aeef;
  font-family: Arial;
}

.profiledetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profiledetail__items {
  margin-bottom: 40px;
  margin-top: 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.profiledetail__items:last-child {
  margin-bottom: 0px;
}

.profiledetail__items.item--1 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 25px;
}

.profiledetail__items .item.image {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding-right: 25px;
}

.profiledetail__items .item.detail {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 12px;
  font-size: 16px;
}

.profiledetail__items .item.detail strong {
  font-size: 20px;
}

.profiledetail__items .item.detail .detail__items.email--address {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profiledetail__items .item.detail .detail__items.email--address div {
  border-right: 2px solid #ddd;
  padding-right: 40px;
  padding-left: 40px;
}

.profiledetail__items .item.detail .detail__items.email--address div:first-child {
  padding-left: 0px;
}

.profiledetail__items .item.detail .detail__items.email--address div:last-child {
  border-right: 0;
  padding-right: 0px;
}

.profiledetail__items .item.detail .detail__items.email--address strong {
  font-size: 18px;
}

.profiledetail__items .item.actions {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.profiledetail__items .item.actions .btn-primary, .profiledetail__items .item.actions .header2 .header2-inner .menu>ul>li.contact-btn a, .header2 .header2-inner .menu>ul>li.contact-btn .profiledetail__items .item.actions a {
  margin: 0px;
}

.profiledetail__items.item--2 {
  margin-top: 0;
}

.profiledetail__items.item--2 .row {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: -35px;
  margin-right: -35px;
  overflow: hidden;
}

.profiledetail__items.item--2 .row .profiledetail__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner {
  position: relative;
  min-height: 370px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__heading {
  padding: 12px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__heading h2 {
  font-size: 14px;
  color: #303030;
  font-family: Arial;
  font-weight: 600;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content {
  padding: 0 15px 10px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .profiledetailitem__details {
  margin-bottom: 15px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .profiledetailitem__details input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-size: 16px;
  color: #666666;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .profiledetailitem__details.form-field select {
  margin-bottom: 15px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .day_flag {
  width: 170px;
  margin: 0 auto 20px;
  padding-bottom: 12px;
  font-size: 40px;
  color: #454545;
  font-weight: 700;
  text-align: center;
  background-color: #ededed;
  border-radius: 20px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .day_flag span {
  display: block;
  margin-bottom: 12px;
  padding: 15px 10px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  background-color: #00aeef;
  border-radius: 20px 20px 0px 0px;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .day_detail h3 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #303030;
  font-weight: bold;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .profiledetailitem__content .day_detail p {
  font-size: 14px;
  color: #bec3c8;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .button-sec {
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  width: 100%;
  text-align: center;
}

.profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .button-sec .btn-primary.blue-shade, .profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .button-sec .header2 .header2-inner .menu>ul>li.contact-btn a.blue-shade, .header2 .header2-inner .menu>ul>li.contact-btn .profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner .button-sec a.blue-shade {
  margin-top: 0;
}

.heading-row-narrow {
  border-bottom: 1px solid #dbdfe5;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.heading-row-narrow h2 {
  font-family: Arial;
  font-size: 14px;
  color: #303030;
  font-weight: 600;
}

.form-requ .form-field {
  margin-bottom: 5px;
}

.form-requ .form-field label {
  font-size: 14px;
}

.form-requ .form-field input, .form-requ .form-field textarea {
  height: 42px;
  font-size: 14px;
  border: 1px solid #d6dae1;
  resize: none;
}

.form-requ .form-field textarea {
  height: 120px;
}

.form-requ .form-field select {
  height: 42px;
  margin-bottom: 15px;
  background-position: 97% center;
  border: 1px solid #d6dae1;
}

.form-requ .form-field .btn-primary.blue-shade, .form-requ .form-field .header2 .header2-inner .menu>ul>li.contact-btn a.blue-shade, .header2 .header2-inner .menu>ul>li.contact-btn .form-requ .form-field a.blue-shade {
  margin-top: 30px;
}

.bannr-form {
  position: relative;
  background: url("../images/contactus-banner-map.jpg") no-repeat right top;
  padding-top: 14%;
}

.cont-head {
  margin-bottom: 130px;
}

.cont-head h1, .cont-head p {
  color: white;
}

.cont-head h1 {
  font-family: Arial;
  font-size: 30px;
  margin-bottom: 25px;
}

.cont-head p {
  font-size: 14px;
}

.cont-frm .cont-frm-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-frm .cont-frm-ul>li {
  padding: 20px 40px 40px 40px;
}

.cont-frm .cont-frm-ul>li .cont-frm-head tr td {
  font-size: 20px;
  font-family: Arial;
}

.cont-frm .cont-frm-ul>li:nth-child(1) {
  width: 60%;
  background-color: white;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .cont-frm-head {
  color: #00aeef;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild {
  margin-bottom: 20px;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div {
  height: 55px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=text], .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div label, .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=email] {
  margin: 0px;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div label {
  font-family: Arial;
  font-weight: normal;
  color: black;
  font-size: 13px;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=text], .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div input[type=email] {
  width: 100%;
  height: 34px;
  border: 0px;
  font-size: 15px;
  font-family: Arial;
}

.cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div .submit {
  position: absolute;
  right: 0px;
  top: 27px;
  bottom: 0px;
  border: 0px;
  font-size: 0px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 54px;
  height: 54px;
  background: url("../images/contact-img-2.png") no-repeat center center;
}

.cont-frm .cont-frm-ul>li:nth-child(2) {
  width: 40%;
  background-color: #00aeef;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .cont-frm-head {
  color: white;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li {
  width: 100%;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div {
  margin-bottom: 30px;
  font-size: 16px;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div:last-child {
  margin-bottom: 0px;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social {
  padding-left: 0px;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul li {
  margin-right: 10px;
  width: auto;
  display: table;
}

.cont-frm .cont-frm-ul>li:nth-child(2) .contactus ul>li div.social ul li a {
  color: #00aeef;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.cont-frm .cont-frm-ul>li .cont-frm-head {
  height: 77px;
}

.threebox .threebox-inner {
  margin-left: -30px;
  margin-right: -30px;
}

.threebox .threebox-inner .inner {
  -webkit-box-shadow: 0px 0px 10px #0000001f;
  box-shadow: 0px 0px 10px #0000001f;
}

.threebox .threebox-inner .threebox-heading {
  background: #e2eef3;
  padding: 11px 20px;
  font-size: 18px;
  color: #24637a;
}

.threebox .threebox-inner .threebox-heading label {
  margin-bottom: 0px;
}

.threebox .threebox-inner .threebox-heading a {
  color: #00aeef;
  font-size: 16px;
}

.threebox .threebox-inner .threebox-heading a i {
  margin-left: 10px;
  font-size: 20px;
}

.threebox .threebox-inner .owl-1 .item, .threebox .threebox-inner .owl-2 .item {
  padding: 20px 20px 00px 20px;
}

.threebox .threebox-inner .owl-1 .owl-1-ul, .threebox .threebox-inner .owl-2 .owl-1-ul {
  display: table;
}

.threebox .threebox-inner .owl-1 .owl-1-ul li, .threebox .threebox-inner .owl-2 .owl-1-ul li {
  display: table-cell;
  vertical-align: middle;
}

.threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(1), .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(1) {
  width: 22%;
}

.threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(1) img, .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(1) img {
  max-width: 100px;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

.threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(1) p, .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(1) p {
  text-align: center;
  font-size: 16px;
}

.threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(2), .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(2) {
  width: 78%;
}

.threebox .threebox-inner .owl-1 .owl-1-ul li:nth-child(2) p, .threebox .threebox-inner .owl-2 .owl-1-ul li:nth-child(2) p {
  padding-left: 15px;
  font-family: Arial;
  color: gray;
}

.threebox .threebox-inner .owl-1 .owl-dots, .threebox .threebox-inner .owl-2 .owl-dots {
  margin-top: 0px;
  padding-bottom: 10px;
}

.threebox .threebox-inner .owl-1 .owl-dots button.active span, .threebox .threebox-inner .owl-2 .owl-dots button.active span {
  background: #00aeef;
}

.threebox .threebox-inner .owl-1 .owl-dots button span, .threebox .threebox-inner .owl-2 .owl-dots button span {
  width: 8px;
  height: 8px;
  background: white;
  border: 1px solid #00aeef;
  margin: 2px;
}

.threebox .threebox-inner .vTicker ul {
  width: 100%;
}

.threebox .threebox-inner .vTicker ul li {
  border-bottom: 1px solid #eee;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.threebox .threebox-inner .vTicker ul li:hover {
  background-color: #eee;
}

.threebox .threebox-inner .vTicker ul li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #808080;
  border-radius: 50px;
  top: 18px;
  left: 10px;
}

.threebox .threebox-inner .vTicker ul li a {
  text-decoration: none;
  padding: 11px 25px 11px 25px;
  color: #808080;
  font-size: 15px;
}

.threebox .threebox-inner .vTicker ul li a div {
  font-size: 10px;
}

.footer {
  background: #00aeef;
  padding: 25px 0px;
}

.footer .footer-inner>div:nth-child(1)>div {
  padding-right: 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-inner>div:nth-child(2)>div {
  padding-left: 50px;
}

.footer .footer-inner .footer-heading {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
}

.footer .footer-inner .quicklinks {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-inner .quicklinks li {
  margin-top: 25px;
  margin-bottom: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  padding-right: 10px;
  line-height: 10px;
}

.footer .footer-inner .quicklinks li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  line-height: 10px;
}

.footer .footer-inner .quicklinks li:last-child {
  border-right: 0px;
}

.footer .footer-inner .numbers {
  padding: 15px 0;
}

.footer .footer-inner .numbers li {
  width: 33.3%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-inner .numbers li div {
  color: white;
  padding-left: 20px;
}

.footer .footer-inner .numbers li div:nth-child(1) {
  font-size: 20px;
}

.footer .footer-inner .numbers li div:nth-child(2) {
  font-size: 16px;
}

.footer .footer-inner .numbers li:first-child div {
  padding-left: 00px;
}

.footer .footer-inner .numbers li:last-child {
  border-right: 0px;
}

.contactus ul {
  padding-top: 25px;
}

.contactus ul li {
  width: 50%;
}

.contactus ul li:nth-child(1) div {
  margin-bottom: 15px;
  padding: 0 20px 0 25px;
}

.contactus ul li div {
  color: white;
  background-repeat: no-repeat;
  background-position: left 4px;
}

.contactus ul li div.map {
  background-image: url("../images/map-pin.png");
}

.contactus ul li div.call {
  background-image: url("../images/call-icon.png");
}

.contactus ul li div.email {
  background-image: url("../images/email-icon.png");
}

.contactus ul li img {
  width: 100%;
}


@media (min-width: 1400px) and (max-width: 1599px) {
  .banner .laptop {
    top: 15%;
  }
}

@media (min-width: 1366px) and (max-width: 1399px) {
  .banner .laptop {
    top: 12%;
  }
}

@media (max-width: 1365px) {
  .banner .laptop {
    top: 13%;
  }
}

@media (min-width: 1200px) {
  .bannr-form .container {
    width: 970px;
  }
}

@media (max-width: 1199px) {
  .banner .laptop {
    position: relative;
    right: -15px;
    text-align: right;
    margin: 50px auto;
  }
  .news-content .banner_block {
    width: 95%;
  }
}

@media (max-width: 991px) {
  .cont-frm .cont-frm-ul {
    display: block;
  }
  .cont-frm .cont-frm-ul>li:nth-child(1), .cont-frm .cont-frm-ul>li:nth-child(2) {
    width: 100%;
  }
  .cont-frm .cont-frm-ul>li:nth-child(1) .form-cont .form-cont-fild>div .submit {
    position: relative;
    top: unset;
  }
  .header2 .header2-inner .menu>ul>li {
    margin-left: 15px;
  }
  .content-ads .content-ads-inner .content, .content-ads .ads {
    padding: 0px;
  }
  .content-ads .content-ads-inner .ads .ads-container {
    padding: 0;
  }
  .content-ads .ads .row {
    margin: 0px;
  }
  .content-ads .content-ads-inner .ads .ads-container a {
    width: 33.3%;
    float: left;
  }
  .content-ads .content-ads-inner .ads .ads-container a img {
    padding: 0 15px;
    display: block;
    width: 100%;
  }
  .footer .footer-inner>div:nth-child(1)>div {
    padding-right: 0px;
    border-right: 0px;
  }
  .footer .footer-inner>div:nth-child(2)>div {
    padding-left: 0px;
    padding-top: 30px;
  }
  .banner .banner-inner .bannerSlider .banner-detail .row {
    margin-top: 3%;
  }
  .banner .banner-inner .bannerSlider .banner-detail .row h2 {
    font-size: 30px;
    margin-bottom: 05px;
  }
  .banner .banner-inner .bannerSlider .banner-detail .row .btn-secondary {
    margin-top: 05px;
    padding: 7px 15px;
  }
  .content-ads .content-ads-inner .content .content-category, .threebox .threebox-inner {
    margin: 0px;
  }
  .threebox .threebox-inner .inner {
    margin-bottom: 25px;
  }
  .user-regis {
    padding-right: 0px;
  }
  .my-page-process .my-page-process-inner .processnav ul>li {
    width: 50%;
    margin-bottom: 15px;
  }
  .company-tranie .filter-sec .filter-sec-inner ul li div {
    padding: 0 5px;
  }
  .company-tranie .filter-sec .filter-sec-inner ul li div select.pro-city {
    min-width: auto;
  }
}

@media (min-width: 768px) {
  .menu-bars {
    display: none;
  }
  .content-category>[class*="col"].my-page-process>div {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .header2 .header2-inner .menu>ul>li {
    display: none;
  }
  .header2 .header2-inner .menu ul li.afterloginPopup, .header2 .header2-inner .menu>ul>li.contact-btn {
    display: block;
  }
  .menu-bars {
    display: table;
  }
  .afterloginPopup .profile-photo ul li.profileImg img {
    width: 35px;
    height: 35px;
  }
  .header2 .header2-inner .menu>ul>li>a, .afterloginPopup .profile-photo ul li div {
    height: 35px;
  }
  .row.header2-inner, .header1 .container .row, .content-ads-inner, .footer-inner {
    margin: 0px;
  }
  .banner-cont .bannerSlider .item h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .banner-cont .bannerSlider .item .btn-secondary {
    padding: 10px 15px;
    margin-top: 5px;
    line-height: 5px;
  }
  .content-ads .content-ads-inner .content .content-category>[class*="col"] .inner {
    padding: 0px 00px;
  }
  .threebox-inner>div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .banner .laptop img {
    display: none;
  }
  .banner .laptop {
    width: 100%;
    right: unset;
  }
  .banner .laptop .laptop-video {
    position: relative;
    width: auto;
    margin: 15px;
    height: 333px;
    top: unset;
    z-index: 999999;
    border: 10px solid #b9b9b9;
    right: unset;
    border-radius: 8px;
  }
  .header2 .header2-inner .menu ul li.contact-btn a {
    padding: 0 10px;
  }
  .content-ads .content-ads-inner .ads .ads-container a {
    width: 100%;
  }
  .content-ads .content-ads-inner .ads .ads-container a:last-child {
    margin-bottom: 20px;
  }
  .big-heading {
    font-size: 25px;
  }
  .content-category.my-page>[class*="col"] {
    margin: 50px 30px 10px 30px;
  }
  .my-page-process .my-page-process-inner .processnav ul>li {
    width: 100%;
    margin-bottom: 15px;
  }
  .my-page-process .my-page-process-inner .processnav ul li div span {
    margin-top: 0px;
  }
  .company-tranie .filter-sec .filter-sec-inner ul li div select {
    max-width: 150px;
  }
  .filter-sec-inner {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .filter-sec-inner>ul {
    width: 767px;
    display: block;
    padding-bottom: 10px !important;
  }
  .filter-sec-inner>ul>li {
    float: left;
    display: block;
  }
  .company-tranie .ds-types .ds-types-inner ul li .ds-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .filter_table .comp-list-detail tbody tr td {
    padding: 5px 10px;
  }
  .basicModalMD .filter_body {
    width: auto;
  }
  .news-content .banner_block {
    width: 93%;
  }
  .profiledetail__items.item--2, .profiledetail__items.item--2 .row {
    display: block;
  }
  .profiledetail__items.item--2 .row .profiledetail__item {
    max-width: 440px;
    margin: 0 auto;
  }
  .profiledetail__items.item--2 .row .profiledetail__item .profiledetailitem__inner {
    min-height: 250px;
  }
}

@media (max-width: 680px) {
  .banner .banner-inner>img {
    display: none;
  }
  .banner-cont {
    position: relative;
    top: unset;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    background: #27ae60;
    padding: 25px 0 40px 0;
  }
  .news-content .banner_block {
    width: 92%;
  }
  .news-content .banner_block .title_block {
    width: 92%;
  }
  .news-content .news_thumb_block .news_thumb_block_inner .news_thumb {
    width: calc(100% / 3);
  }
  .profiledetail__items .item.detail .detail__items.email--address {
    display: block;
  }
  .profiledetail__items .item.detail .detail__items.email--address div, .profiledetail__items .item.detail .detail__items.email--address div:last-child {
    padding: 0px;
    border-right: 0 none;
  }
}

@media (max-width: 480px) {
  .banner-cont {
    padding: 25px 0 70px 0;
  }
  .news-content .banner_block {
    width: 90%;
  }
  .news-content .news_thumb_block .news_thumb_block_inner .news_thumb {
    width: calc(100% / 2);
  }
  .news-content .news_listing_block .news_listing_block_inner .news_listing_thumb {
    width: 100%;
  }
  .news-content .news_listing_block .news_listing_block_inner .news_listing_text {
    width: calc(100% - 0em);
  }
  .news-content .news_listing_block .news_listing_block_inner .news_listing_text {
    padding-top: 20px;
  }
  .news-content .news_listing_block .news_listing_block_inner .news_listing_text h3 {
    padding-left: 0px;
  }
  .news-content .news_listing_block .news_listing_block_inner .news_listing_text p.text {
    padding-left: 0px;
  }
  .profiledetail__items.item--1 {
    display: block;
  }
  .profiledetail__items .item.actions {
    margin-top: 30px;
  }
  .profiledetail__items .item.image, .profiledetail__items .item.detail {
    padding-right: 0;
    text-align: center;
  }
  .profiledetail__items .item.actions .btn-primary, .profiledetail__items .item.actions .header2 .header2-inner .menu>ul>li.contact-btn a, .header2 .header2-inner .menu>ul>li.contact-btn .profiledetail__items .item.actions a {
    margin: 0px auto;
  }
}

@media (max-width: 370px) {
  .my-page-process .my-page-process-inner .processnav ul>li {
    margin-bottom: 0px;
    height: 55px;
  }
}

/*# sourceMappingURL=main.css.map */